<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공고 상세보기</title>

  <!-- header footer css 입니다 잊지 말고 header footer 사용시 연결해주세요 + 폰트 어썸 사용 -->
  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/recruitment/recruitmentDetail.css">
</head>

<body>
  <th:block th:replace="~{common/main-header}"></th:block>

  <!-- 모달 영역 -->
  <div class="modal-container hidden">
    <div class="modal-area">
      모달영역
    </div>
  </div>

  <div class="recruitmentDetail-gray">
    <main class="recruitmentDetail-white" th:object="${recruitment}">
      
      <div class="recruitment-title-container">
        <!-- showPromoteBusiness 페이지로 이동-->
        <button class="showPromoteBusiness">
          기업 정보 보기
        </button>
        <div class="recruitment-title-area">
          <span th:text="*{recruitmentTitle}" id="recruitmentTitle"></span>
          <span th:text="| ~*{recruitmentDeadline}|" id="recruitmentDeadline"></span>
        </div>
        <div class="business-name-nickname-area">
          <span th:text="|회사명 : *{businessName}|"></span>
          <br>
          <span th:text="|지점 : *{businessNickname}|"></span>
          <br>
          <span th:text="|근무지역 : *{workcondAddressTypeInfo}|"></span>
        </div>

        <div class="status-box recruiting" th:if="*{recruitCompleteFl == 'N'}">
          모집 중
        </div>
        
        <div class="status-box closed" th:unless="*{recruitCompleteFl == 'N'}">
          모집 완료
        </div>


      </div>

      <h3>근무조건</h3>
      <div class="work-condition-container">
        <div class="salary-period-days-time-area">
          <table>
            <tr>
              <th>급여</th>
              <td>
                <span th:text="*{salaryName}">salaryName</span>&nbsp;
                <span th:text="|*{salaryMount}원|">salaryMount 원</span>
              </td>
            </tr>

            <tr>
              <th>근무기간</th>
              <td th:text="*{periodName}">periodName</td>
            </tr>

            <tr>
              <th>근무요일</th>
              <td th:text="*{daysName}">daysName</td>
            </tr>

            <tr>
              <th>근무시간</th>
              <td th:text="*{timeName}">timeName</td>
            </tr>
          </table>
        </div>

        <div class="worktype-jobtype-preferred-support-area" style="border: solid red;">
          <table>
            <tr>
              <th>업직종</th>
              <td>
                <th:block th:each="businessWorktype, iterStat : ${businessWorktypeList}"
                  th:object="${businessWorktype}">
                  <th:block th:if="${iterStat.last}">
                    <span th:text="*{worktypeCategory}"></span>
                  </th:block>
                  <th:block th:unless="${iterStat.last}">
                    <span th:text="|*{worktypeCategory}, |"></span>
                  </th:block>
                </th:block>
              </td>
            </tr>

            <tr>
              <th>고용형태</th>
              <td th:text="*{jobtypeName}">jobtypeName</td>
            </tr>

            <tr>
              <th>복리후생</th>
              <td>
                <th:block th:each="support, iterStat : ${supportList}" th:object="${support}">
                  <th:block th:if="${iterStat.last}">
                    <span th:text="*{supportCategory}"></span>
                  </th:block>
                  <th:block th:unless="${iterStat.last}">
                    <span th:text="|*{supportCategory}, |"></span>
                  </th:block>
                </th:block>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <h3>모집조건</h3>
      <div class="work-condition-container">
        <div class="recruitmentDeadline-numOfRecruitmentName-area">
          <table>
            <tr>
              <th>모집마감일</th>
              <td th:text="*{recruitmentDeadline}">recruitmentDeadline</td>
            </tr>

            <tr>
              <th>모집인원</th>
              <td th:text="*{numOfRecruitmentName}">numOfRecruitmentName</td>
            </tr>
          </table>
        </div>

        <div class="grade-preferred-area">
          <table>
            <tr>
              <th>학력</th>
              <td th:text="*{gradeName}">gradeName</td>
            </tr>

            <tr>
              <th>우대사항</th>
              <td>
                <th:block th:each="preferred, iterStat : ${preferredList}" th:object="${preferred}">
                  <th:block th:if="${iterStat.last}">
                    <span th:text="*{preferredCategory}"></span>
                  </th:block>
                  <th:block th:unless="${iterStat.last}">
                    <span th:text="|*{preferredCategory}, |"></span>
                  </th:block>
                </th:block>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <h3>근무지역</h3>
      <div>
        <div id="map" style="width: 100%; height: 500px; border: 1px solid black;" th:chat-no="${recruitment.businessAddress}"></div>
      </div>

      <h3>상세 요강</h3>
      <div>
        <pre th:text="*{recruitmentContent}" id="recruitmentContent"></pre>
      </div>

      <!-- 추천 이력서 1.7 신동국 추가-->
      <th:block th:if="${session.loginEmployer}">
        <th:block th:if="${recruitment.memberNo == session.loginEmployer?.memberNo}">

        <!-- <span style="font-weight: bold; font-size: 1.2rem; margin-top: 1rem;">추천 이력서</span> -->
        <h3>추천 이력서 </h3>
        <div class="recommend">
          <span th:text="|총 몇 ${recommendNum?: '0'}건의 이력서가 조회되었습니다.|">이력수 수</span>
          <button type="button" class="recommend-select"> 조회하기</button>
        </div>

        </th:block>
      </th:block>

      <div class="recruitment-btn-area">
        <th:block th:if="${session.loginEmployer}">
          <th:block th:if="${recruitment.memberNo == session.loginEmployer?.memberNo}">
            <div class="update-delete">
              <button id="updateRecruitmentBtn">수정</button>
              <button id="deleteRecruitmentBtn">삭제</button>
            </div>
          </th:block>
        </th:block>

        <th:block th:if="${session.loginWorker}" th:object="${session.loginWorker}">
          <button id="submitResumeBtn" th:attr="onclick='selectResumeBtn(' + ${session.loginWorker.workerNo} + ')'">
            이력서 제출</button>
        </th:block>
        <button id="goToRecruitmentListBtn" type="button" onclick="window.history.back()"> 목록으로 </button>
      </div>
    </main>
  </div>

  <div class="recommend-modal">
    <span class="modal-close">&times;</span>
    <div class="resume-grid">
      <!-- js 비동기 입력 -->
      <div class="loadingBox">
          <div class="dim"></div>
          <div class="circle"></div>
      </div>
    </div>
  </div>
  <div class="recommend-modal-outside"></div>


  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=xppqitiq8t"></script>
  <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=xppqitiq8t&submodules=geocoder"></script>
  <script src="/js/recruitment/recruitmentDetail.js"></script>


  <!-- footer 우선 갖다가 쓰는겁니다 잊지말고 바꿔야해요 -->
  <th:block th:replace="~{common/main-footer}"></th:block>  
</body>

</html>