<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공고 상세보기</title>
  
  <!-- header footer css 입니다 잊지 말고 header footer 사용시 연결해주세요 + 폰트 어썸 사용 -->
  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/recruitment/recruitmentDetail.css">
</head>

<body>
  <th:block th:replace="~{common/main-header}"></th:block>
  
  <!-- 모달 영역 -->
  <div class="modal-container hidden">
    <div class="modal-area">
      모달영역
    </div>
  </div>

  <div class="recruitmentDetail-gray">
    <main class="recruitmentDetail-white" th:object="${recruitment}">

      <div class="recruitment-title-container" style="border: 1px solid black;">
        <div class="recruitment-title-area">
          <span th:text="*{recruitmentTitle}" id="recruitmentTitle"></span>
          <span th:text="| ~*{recruitmentDeadline}|" id="recruitmentDeadline"></span>
        </div>
        <div class="business-name-nickname-area">
          <span th:text="|회사명 : *{businessName}|"></span>
          <br>
          <span th:text="|지점 : *{businessNickname}|"></span>
        </div>
        <div class="recruite-complete-area">
          <span th:if="*{recruitCompleteFl == 'N'}"> 모집 중입니다.</span>
          <span th:unless="*{recruitCompleteFl == 'N'}"> 모집완료</span>
        </div>
      </div>

      <h3>근무조건</h3>
      <div class="work-condition-container">
        <div class="salary-period-days-time-area" style="border: 1px solid black;">
          <table>
            <tr>
              <th>급여</th>
              <td>
                <span th:text="*{salaryName}">salaryName</span>&nbsp;
                <span th:text="|*{salaryMount}원|">salaryMount 원</span>
              </td>
            </tr>

            <tr>
              <th>근무기간</th>
              <td th:text="*{periodName}">periodName</td>
            </tr>

            <tr>
              <th>근무요일</th>
              <td th:text="*{daysName}">daysName</td>
            </tr>

            <tr>
              <th>근무시간</th>
              <td th:text="*{timeName}">timeName</td>
            </tr>
          </table>
        </div>

        <div class="worktype-jobtype-preferred-support-area" style="border: 1px solid red;">
          <table>
            <tr>
              <th>업직종</th>
              <td>
                <th:block th:each="businessWorktype, iterStat : ${businessWorktypeList}" th:object="${businessWorktype}">
                  <th:block th:if="${iterStat.last}">
                    <span th:text="*{worktypeCategory}"></span>
                  </th:block>
                  <th:block th:unless="${iterStat.last}">
                    <span th:text="|*{worktypeCategory}, |"></span>
                  </th:block>
                </th:block>
              </td>
            </tr>

            <tr>
              <th>고용형태</th>
              <td th:text="*{jobtypeName}">jobtypeName</td>
            </tr>

            <tr>
              <th>복리후생</th>
              <td>
                <th:block th:each="support, iterStat : ${supportList}" th:object="${support}">
                  <th:block th:if="${iterStat.last}">
                    <span th:text="*{supportCategory}"></span>
                  </th:block>
                  <th:block th:unless="${iterStat.last}">
                    <span th:text="|*{supportCategory}, |"></span>
                  </th:block>
                </th:block>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <h3>모집조건</h3>
      <div class="work-condition-container">
        <div class="recruitmentDeadline-numOfRecruitmentName-area" style="border: 1px solid black;">
          <table>
            <tr>
              <th>모집마감일</th>
              <td th:text="*{recruitmentDeadline}">recruitmentDeadline</td>
            </tr>

            <tr>
              <th>모집인원</th>
              <td th:text="*{numOfRecruitmentName}">numOfRecruitmentName</td>
            </tr>
          </table>
        </div>

        <div class="grade-preferred-area" style="border: 1px solid red;">
          <table>
            <tr>
              <th>학력</th>
              <td th:text="*{gradeName}">gradeName</td>
            </tr>

            <tr>
              <th>우대사항</th>
              <td>
                <th:block th:each="preferred, iterStat : ${preferredList}" th:object="${preferred}">
                  <th:block th:if="${iterStat.last}">
                    <span th:text="*{preferredCategory}"></span>
                  </th:block>
                  <th:block th:unless="${iterStat.last}">
                    <span th:text="|*{preferredCategory}, |"></span>
                  </th:block>
                </th:block>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <h3>근무지역</h3>
      <div>

      </div>

      <h3>상세 요강</h3>
      <div>
        <pre th:text="*{recruitmentContent}" id="recruitmentContent"></pre>
      </div>

      <div class="recruitment-btn-area">
        <th:block th:if="${session.loginEmployer}">
          <th:block th:if="${recruitment.memberNo == session.loginEmployer?.memberNo}">
            <button id="updateRecruitmentBtn">수정</button>
            <button id="deleteRecruitmentBtn">삭제</button>
            <th:block th:if="${param.stat}">
              <button id="goToMyRecruitmentListBtn">목록으로</button>
            </th:block>
            <th:block th:unless="${param.stat}">
              <button id="goToRecruitmentListBtn">목록으로</button>
            </th:block>
          </th:block>

          <th:block th:if="${recruitment.memberNo != session.loginEmployer?.memberNo}">
            <button id="goToRecruitmentListBtn">목록으로</button>
          </th:block>
        </th:block>

        <th:block th:if="${session.loginWorker}" th:object="${session.loginWorker}">
          <button id="submitResumeBtn" 
            th:attr="onclick='selectResumeBtn(' + ${session.loginWorker.workerNo} + ')'"
            >
            이력서 제출</button>
          <button id="goToRecruitmentListBtn">목록으로</button>
        </th:block>

        <th:block th:if="${session.loginEmployer} == null and ${session.loginWorker} == null">
          <button id="goToRecruitmentListBtn">목록으로</button>
        </th:block>
        
      </div>
    </main>
  </div>




  <script src="/js/recruitment/recruitmentDetail.js"></script>

  
  <!-- footer 우선 갖다가 쓰는겁니다 잊지말고 바꿔야해요 -->
  <th:block th:replace="~{common/main-footer}"></th:block>
</body>

</html>