<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공고수정 페이지</title>
  
  <link rel="stylesheet" href="/css/myPageEmployer/myPageEmpHeader.css">
  <link rel="stylesheet" href="/css/myPageEmployer/myPageEmpFooter.css">
  <link rel="stylesheet" href="/css/recruitment/updateRecruitment.css">
</head>

<body>
  <th:block th:replace="~{common/myPageEmployer-header}"></th:block>
  
  <div class="updateRecruitment-gray">
    <main class="updateRecruitment-white">
      <h3 th:text="|'${session.loginEmployer.businessName}'님의 공고수정 페이지입니다.|" />
      <div class="recruitment-form-container">
        <form th:action="@{/recruitment/update/{recruitmentNo}(recruitmentNo=${recruitment.recruitmentNo})}"
          method="post" class="update-recruitment" enctype="multipart/form-data"
          id="updateRecruitmentForm"  th:object="${recruitment}">

          <!-- 사진 미리보기 부분은 addRecruitment 처리 후 와서 하기 -->
          <div class="business-img-area">
            <div class="businessImg">
              <h4>공고 이미지(선택)</h4>
              <label for="img0"><img th:src="*{recruitmentProfile}" class="preview" alt="기존 공고 이미지가 없습니다"></label>
              <input type="file" name="recruitmentImg" class="inputImg" id="img0" accept="image/*">
              <span class="delete-image">&times;</span>
            </div>
          </div>

          <div class="business-nickname-area">
            <span>사업장 : </span>
            <input type="text" th:value="*{businessNickname}" name="businessNickname" id="businessNickname" readonly>
          </div>

          <div class="business-nickname-area">
            <span>근무 지역 : </span>
            <input type="text" th:value="*{workcondAddressTypeInfo}" name="workcondAddressTypeInfo" id="workcondAddressTypeInfo" readonly>
          </div>

          <div class="business-worktype-area">
            <span>업직종 : </span>
            <th:block th:each="businessWorktype, iterStat : ${selectedBusinessWorktypeList}" th:object="${businessWorktype}">
              <th:block th:if="${iterStat.last}">
                <span th:text="*{worktypeCategory}"></span>
              </th:block>
              <th:block th:unless="${iterStat.last}">
                <span th:text="|*{worktypeCategory}, |"></span>
              </th:block>
            </th:block>

          </div>

          <div class="recuritment-title-area">
            <span>공고 제목 : </span>
            <input type="text" th:value="*{recruitmentTitle}" name="recruitmentTitle" id="recruitmentTitle">
          </div>

          <div class="recruitment-content-area">
            <h4>상세요강</h4>
            <textarea name="recruitmentContent" id="recruitmentContent" th:text="*{recruitmentContent}"></textarea>
          </div>

          <div class="recruitment-deadline-area">
            <h4>모집마감일</h4>
            <input type="date" name="recruitmentDeadline" id="recruitmentDeadline" th:value="*{recruitmentDeadline}">
          </div>

          <div>
            <h4 th:text="|기존 모집인원 : *{numOfRecruitmentName}|"></h4>
            <input type="hidden" id="originalNumOfRecruitmentName" th:value="*{numOfRecruitmentName}">
            <select name="numOfRecruitmentName" id="numOfRecruitmentName">
              <option value="인원미정">인원미정</option>
              <option value="0명">0명</option>
              <option value="00명">00명</option>
            </select>
          </div>

          <div class="workcond-jobtype-area">
            <h4 th:text="|기존 근무형태 : *{jobtypeName}|"></h4>
            <input type="hidden" id="originalJobTypeNo" th:value="*{jobtypeNo}">
            <input type="radio" name="jobtypeNo" value="1" id="partTime"> 
            <label for="partTime">알바</label>
            <input type="radio" name="jobtypeNo" value="2" id="fullTime">
            <label for="fullTime">정규직</label>
            <input type="radio" name="jobtypeNo" value="3" id="fixedTermContract">
            <label for="fixedTermContract">기간 계약직</label>
          </div>

          <div class="grade-area">
            <h4 th:text="|기존 학력조건 : *{gradeName}|">학력조건</h4>
            <input type="hidden" id="originalGradeNo" th:value="*{gradeNo}">
            <select name="gradeNo" id="gradeNo">
              <option value="1">무관</option>
              <option value="2">중졸 이상</option>
              <option value="3">고졸 이상</option>
              <option value="4">대졸(2,3년제) 이상</option>
              <option value="5">대졸(4년제) 이상</option>
              <option value="6">대학원 이상</option>
            </select>
          </div>

          <div class="salary-area">
            <h4 th:text="|기존 급여조건 : *{salaryName}, *{salaryMount}원|">급여조건</h4>
            <input type="hidden" id="originalSalaryNo" th:value="*{salaryNo}">
            <input type="hidden" id="originalSalaryMount" th:value="*{salaryMount}">
            <select name="salaryNo" id="salaryNo">
              <option value="1">시급</option>
              <option value="2">월급</option>
              <option value="3">추후협의(시급)</option>
              <option value="4">추후협의(월급)</option>
            </select>
            <br>
            <input type="number" name="salaryMount" id="salaryMount" th:value="*{salaryMount}" min="0" placeholder="금액을 입력하세요"> 원
          </div>

          <div class="workcond-period-area">
            <h4 th:text="|기존 근무기간 : *{periodName}|">근무기간</h4>
            <input type="hidden" id="originalPeriodNo" th:value="*{periodNo}">
            <select name="periodNo" id="periodNo">
              <option value="1">무관</option>
              <option value="2">하루</option>
              <option value="3">1주일 이하</option>
              <option value="4">1주일 ~ 1개월</option>
              <option value="5">1개월 ~ 3개월</option>
              <option value="6">3개월 ~ 6개월</option>
              <option value="7">6개월 ~ 1년</option>
              <option value="8">1년 이상</option>
            </select>
          </div>

          <div class="workcond-days-area">
            <h4 th:text="|기존 근무요일 : *{daysName}|">근무요일</h4>
            <input type="hidden" id="originalDaysNo" th:value="*{daysNo}">
            <select name="daysNo" id="daysNo">
              <option value="1">무관</option>
              <option value="2">월 ~ 일</option>
              <option value="3">월 ~ 토</option>
              <option value="4">월 ~ 금</option>
              <option value="5">주말(토, 일)</option>
              <option value="6">주 6일</option>
              <option value="7">주 5일</option>
              <option value="8">주 4일</option>
              <option value="9">주 3일</option>
              <option value="10">주 2일</option>
              <option value="11">주 1일</option>
            </select>
          </div>

          <div class="workcond-time-area">
            <h4 th:text="|기존 근무시간 : *{timeName}"|>근무시간</h4>
            <input type="hidden" id="originalTimeNo" th:value="*{timeNo}">
            <select name="timeNo" id="timeNo">
              <option value="1">무관</option>
              <option value="2">오전 파트타임(06시~12시)</option>
              <option value="3">오후 파트타임(12시~18시)</option>
              <option value="4">저녁 파트타임(18시~24시)</option>
              <option value="5">새벽 파트타임(00시~06시)</option>
              <option value="6">오전~오후 파트타임</option>
              <option value="7">오후~저녁 파트타임</option>
              <option value="8">저녁~새벽 파트타임</option>
              <option value="9">새벽~오전 파트타임</option>
              <option value="10">풀타임(8시간이상)</option>
            </select>
          </div>
          
          <div class="recruitment-preferred-area">
            <div>
              <h5>기존 선호조건</h5>
              <th:block th:each="preferred, iterStat : ${selectedPreferredList}" th:object="${preferred}">
                <th:block th:if="${iterStat.last}">
                  <span th:text="*{preferredCategory}"></span>
                </th:block>
                <th:block th:unless="${iterStat.last}">
                  <span th:text="|*{preferredCategory}, |"></span>
                </th:block>
              </th:block>
            </div>

            <div class="selected-preferred-area">
              <h5>새로운 선호조건(최대 5개)</h5>
            </div>
            <div>
              <h5>선호조건 종류</h5>
              <ul>
                <th:block th:each="preferred :${preferredList}" th:object="${preferred}">
                  <li th:text="*{preferredCategory}" class="preferred"
                    th:preferredCategory="*{preferredCategory}"
                    th:onclick="addPreferred(this.getAttribute('preferredCategory'))"
                    style="cursor: pointer;"
                  />
                </th:block>
              </ul>
            </div>

          </div>

          <div class="recruitment-support-area">
            <div>
              <h5>기존 복리후생</h5>
              <th:block th:each="support, iterStat : ${selectedSupportList}" th:object="${support}">
                <th:block th:if="${iterStat.last}">
                  <span th:text="*{supportCategory}"></span>
                </th:block>
                <th:block th:unless="${iterStat.last}">
                  <span th:text="|*{supportCategory}, |"></span>
                </th:block>
              </th:block>
            </div>

            <div class="selected-support-area" style="border: 1px solid red;">
              <h5>새로운 복리후생</h5>
            </div>
            <div style="border: 1px solid black;">
              <h5>복리후생 종류</h5>
              <ul>
                <th:block th:each="supportTitle : ${supportTitleList}">
                  <li th:text="${supportTitle.supportCategory}" class="support"
                    th:supportNo="${supportTitle.supportNo}"
                    th:onclick="subSupport(this.getAttribute('supportNo'))"
                    style="cursor: pointer;"
                  />
                </th:block>
              </ul>
            </div>

            <div>
              <ul id="subSupportUl">

              </ul>
            </div>
          </div>

          <div class="btn-area">
            <button type="button" onclick="backToRecruitmentDetail()">돌아가기</button>
            <button>수정하기</button>
          </div>
        </form>
      </div>
    </main>
  </div>

  <th:block th:replace="~{common/main-footer}"></th:block>

  <script src="/js/myPageEmployer/myPageEmpHeader.js"></script>
  <script src="/js/recruitment/updateRecruitment.js"></script>
</body>

</html>