<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Builder-공지사항</title>

    <!-- header footer css 입니다 잊지 말고 header footer 사용시 연결해주세요 + 폰트 어썸 사용 -->
    <th:block th:replace="~{common/common}"></th:block>

    <!-- <main> 안쪽 CSS -->
    <link rel="stylesheet" href="/css//serviceCenter/notice.css">
</head>

<body>
    <!-- 로고 및 검색바 로그인 -->
    <th:block th:replace="~{common/main-header}"></th:block>
    <!-- 주의사항 디자인을 위해 th문 안 넣었습니다 th문은 알아서!!!! -->
    <main>
        <!-- Main board container -->
        <div class="board-container">
            <!-- Board title -->
            <div class="board-header">
                <h2 class="board-title">공지사항</h2>
            </div>

            <th:block th:if="${#lists.isEmpty(serviceCenterList)}">
                <div class="post-item">
                    <th colspan="6">게시글이 존재하지 않습니다.</th>
                </div>
            </th:block>
            
            <!-- Board list -->
            <th:block th:unless="${#lists.isEmpty(serviceCenterList)}">
                <div class="board-list">

                    <div class="list-header">
                        <div class="header-title">제목</div>
                        <div class="header-info">
                            <span class="header-date">작성일</span>
                            <span class="header-views">조회수</span>
                        </div>
                    </div>

                    <th:block th:each="board, iterStat : ${serviceCenterList}" th:object="${board}">
                    <!-- Notice item -->
                    <div class="post-item">
                        <div class="post-content">
                            <div class="post-title">
                                <a th:href="@{/serviceCenter/notice/{serviceCenterNo} (serviceCenterNo=*{serviceCenterNo}, cp=${pagination.currentPage})}"
                                th:text="*{serviceCenterTitle}">제목</a>
                            </div>
                            <div class="post-info">
                                <span class="date" th:text="*{serviceCenterWriteDate}">게시일</span>
                                <span class="views" th:text="|조회수 *{serviceCenterReadCount}|">조회수</span>    
                            </div>
                        </div>
                    </div>

                </div>
            </th:block>

            <!-- Pagination -->
            <div class="pagination" th:object="${pagination}">
                <a th:href="@{/serviceCenter/notice (cp=1)}" class="page-btn">&lt;&lt;</a>
                <a th:href="@{/serviceCenter/notice (cp=*{prevPage})}" class="page-btn">&lt;</a>

                <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
						
                    <!-- 현재 보고있는 페이지 -->
                    <th:block th:if="${i} == *{currentPage}">
                        <a th:href="@{/serviceCenter/notice (cp=${i})}" 
                        class="page-btn active" th:text="${i}">현재페이지</a>
                    </th:block>
                    
                    <!-- 보고있지 않은 페이지 -->
                    <th:block th:unless="${i} == *{currentPage}">
                        <a th:href="@{/serviceCenter/notice (cp=${i})}" 
                            th:text="${i}" class="page-btn">이동할 페이지</a>
                    </th:block>
                </th:block>
                <a th:href="@{/serviceCenter/notice (cp=*{nextPage})}" class="page-btn">&gt;</a>
                <a th:href="@{/serviceCenter/notice (cp=*{maxPage})}" class="page-btn">&gt;&gt;</a>

            </div>

        </div>

    </main>

    <!-- footer 우선 갖다가 쓰는겁니다 잊지말고 바꿔야해요 -->
    <th:block th:replace="~{common/main-footer}"></th:block>
</body>

</html>