<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Builder</title>

  <link rel="stylesheet" href="/css/myPageEmployer/myPageEmpHeader.css">
  <link rel="stylesheet" href="/css/myPageEmployer/myPageEmpFooter.css">
  <link rel="stylesheet" href="/css/myPageEmployer/addBusiness.css">

  <!--  12월 27일 오전 9시 36분 횟수 51회 -->
  <script src="https://kit.fontawesome.com/a0e57c9b1e.js" crossorigin="anonymous"></script>

  <!-- https://github.com/sockjs/sockjs-client -->
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</head>

<body>
  <!-- 로고 및 검색바 로그인 -->
  <th:block th:replace="~{common/myPageEmployer-header}"></th:block>

  <div class="mypageEmpInfo-gray">
    <main class="myPageEmpInfo-white">

      <section class="basic-info-container" th:object="${session.loginEmployer}">
        <h3 th:text="|*{memberName}의 사업장추가 페이지입니다.|"></h3>
        <div class="business-registration-number-area">
          <span>사업자 등록번호 : </span>
          <span th:text="*{businessRegistrationNumber}"></span>
        </div>
        <div class="business-name-area">
          <span>회사명 : </span>
          <span th:text="*{businessName}"></span>
        </div>
        <div class="member-name-area">
          <span>대표자명 :</span>
          <span th:text="*{memberName}"></span>
        </div>
        <div class="member-tel-area">
          <span>연락처 : </span>
          <span th:text="*{memberTel}"></span>
        </div>

      </section>

      <div class="add-business-container">
        <form action="addBusiness" method="post" id="addBusinessForm" enctype="multipart/form-data">
          <h4>사업장 별칭</h4>
          <div class="business-nickname">
            <input type="text" name="businessNickname" id="businessNickname" placeholder="ex) 본점, 서울 구로점" maxlength="20">
          </div>

          <h4> 사업장 소개말 </h4>
          <div class="business-content">
            <textarea type="text" name="businessContent" maxlength="1800" id="businessContent"
              placeholder="ex) 저희 분점은 ~~입니다."></textarea>
          </div>

          <h4>사업장 주소</h4>
          <div class="business-address-area">
            <div>
              <input type="text" name="businessAddress" id="postcode" placeholder="우편번호" readonly>
              <button type="button" id="searchAddressBtn" class="searah-address-btn">검색</button>
            </div>
            <div>
              <input type="text" name="businessAddress" id="address" placeholder="도로명/지번 주소" readonly>
            </div>
            <div>
              <input type="text" name="businessAddress" id="detailAddress" placeholder="상세 주소" maxlength="100">
              <button type="button" id="addressResetBtn">초기화</button>
            </div>
          </div>

          <h4>사업장 전화번호</h4>
          <div>
            <input type="text" name="businessTel" id="businessTel" maxlength="11" placeholder="-없이 숫자만 입력해주세요">
          </div>

          <h4>업직종(최대 5개 선택 가능)</h4>
          <div>
            <h5>선택한 업직종</h5>
            <ul id="selectCategoryUl">

            </ul>
          </div>
          <div>
            <div>
              <ul>
                <th:block th:each="category : ${majorCategoryList}">
                  <li th:text="${category.majorCategoryName}" class="workType" th:workTypeNo="${category.workTypeNo}"
                    th:onclick="subCategory(this.getAttribute('workTypeNo'))" style="cursor: pointer;" />
                </th:block>
              </ul>
            </div>

            <div>
              <ul id="subWorkType">

              </ul>
            </div>
          </div>

          <h4>사업장 대표 이미지</h4>
          <div class="img-box">
            <div class="businessImg thumbnail">
              <label for="img0">
                <img class="preview" src="">
              </label>
              <input type="file" name="images" class="inputImage" id="img0" accept="image/*">
              <span class="delete-image">&times;</span>
            </div>
          </div>

          <h4>사업장 추가 이미지</h4>
          <div class="img-box" id="addBusinessContainer">
            <div class="businessImg">
              <label for="img1">
                <img class="preview" src="">
              </label>
              <input type="file" name="images" class="inputImage" id="img1" accept="image/*">
              <span class="delete-image">&times;</span>
            </div>

            <div class="businessImg">
              <label for="img2">
                <img class="preview" src="">
              </label>
              <input type="file" name="images" class="inputImage" id="img2" accept="image/*">
              <span class="delete-image">&times;</span>
            </div>

            <div class="businessImg">
              <label for="img3">
                <img class="preview" src="">
              </label>
              <input type="file" name="images" class="inputImage" id="img3" accept="image/*">
              <span class="delete-image">&times;</span>
            </div>

            <div class="businessImg">
              <label for="img4">
                <img class="preview" src="">
              </label>
              <input type="file" name="images" class="inputImage" id="img4" accept="image/*">
              <span class="delete-image">&times;</span>
            </div>
          </div>

          <div>
            <button id="addBusinessBtn">등록하기</button>
            <button type="button" onclick="goBackInfo()">돌아가기</button>
          </div>
        </form>
      </div>


    </main>
  </div>

  <th:block th:replace="~{common/main-footer}"></th:block>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/myPageEmployer/myPageEmpHeader.js"></script>
  <script src="/js/myPageEmployer/addBusiness.js"></script>
  <script th:inline="javascript">
    const memberNo = /*[[${session.loginEmployer.memberNo}]]*/0;
  </script>
</body>

</html>