<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>고용주 My Page</title>

  <link rel="stylesheet" href="/css/myPageEmployer/myPageEmpHeader.css">
  <link rel="stylesheet" href="/css/myPageEmployer/myPageEmpInfo.css">

  <!--  12월 27일 오전 9시 36분 횟수 51회 -->
  <script src="https://kit.fontawesome.com/a0e57c9b1e.js" crossorigin="anonymous"></script>

  <!-- https://github.com/sockjs/sockjs-client -->
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</head>

<body>
  <!-- 로고 및 검색바 로그인 -->
  <th:block th:replace="~{common/myPageEmployer-header}"></th:block>

  <!-- 모달 영역 -->
  <div class="modal-container hidden">
    <div class="modal-area">
      <div class="btn-area">
        <button class="update-business-btn">수정하기</button>
        <button class="delete-business-btn">삭제하기</button>
        <span class="back-info" style="cursor: pointer;">&times;</span>
      </div>
      <div class="modal-business-content">
        <div class="nickname-area">사업장 위치 : </div>
        <div class="tel-area">사업장 연락처 : </div>
        <div class="address-area">사업장 주소 : </div>
        <div class="worktype-area">업직종 : </div>
      </div>
      <div class="modal-recruitment-content">
        <div> 등록된 공고가 없습니다.</div>
      </div>
    </div>
  </div>

  <div class="mypageEmpInfo-gray">
    <main class="myPageEmpInfo-white">

      <section class="basic-info-container" th:object="${session.loginEmployer}">
        <h3>회원정보</h3>
        <div class="business-registration-number-area">
          <span> 사업자 등록번호 : </span>
          <span th:text="*{businessRegistrationNumber}"></span>
        </div>
        <div class="membership-level-area">
          <span>멤버십 등급 :</span>
          <span th:text="*{membershipName}"></span>
        </div>
        <div class="member-name-area">
          <span>대표자명 :</span>
          <span th:text="*{memberName}"></span>
        </div>
        <div class="member-tel-area">
          <span>연락처 : </span>
          <span th:text="*{memberTel}"></span>
        </div>
      </section>

      <div class="businessList-info-area">
        <h3>사업장 정보</h3>
        <div><a href="/myPageEmp/addBusiness">
          <button class="add-business-btn">사업장 추가하기</button>
        </a></div>
      </div>

      <section class="business-info-container">

        <th:block th:each="business, iterStat: ${businessList}" th:object="${business}">
          <div th:class="|business-box${iterStat.count}|" th:employerNo="*{employerNo}"
            style="border: 1px solid black; cursor: pointer;"
            th:onclick="businessDetailModal(this.getAttribute('employerNo'))">

            <div>
              <span th:if="${#lists.size(business.businessImgList) != 0}"> 이미지 있음!</span>
              <span th:if="${#lists.size(business.businessImgList) == 0}"> 등록된 이미지가 없습니다.</span>
            </div>
            <div>
              <span>사업장위치 : </span>
              <span th:text="*{businessNickname}"></span>
            </div>
            <div>
              <span>사업장 연락처 : </span>
              <span th:if="*{businessTel}" th:text="*{businessTel}"></span>
              <span th:unless="*{businessTel}">미입력 상태입니다.</span>
            </div>
            <div>
              <span>사업장 주소 : </span>
              <span th:if="*{businessAddress}" th:text="*{businessAddress}"></span>
              <span th:unless="*{businessAddress}">미입력 상태입니다.</span>
            </div>

            <div>
              <span>업직종 : </span>
              <span th:if="*{#strings.length(businessWorktype)== 0 }">업직종 미입력</span>
              <span th:if="*{#strings.length(businessWorktype)!= 0 }" 
                th:text="*{businessWorktype}"/>
            </div>
          </div>
        </th:block>

      </section>

    </main>
  </div>



  <th:block th:replace="~{common/myPageEmployer-footer}"></th:block>

  <script src="/js/myPageEmployer/myPageEmpHeader.js"></script>
  <script src="/js/myPageEmployer/myPageEmpInfo.js"></script>
</body>

</html>