<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내가 작성한 글</title>

  <link rel="stylesheet" href="/css/myPageEmployer/myPageEmpHeader.css">
  <link rel="stylesheet" href="/css/myPageEmployer/myPageEmpFooter.css">
  <link rel="stylesheet" href="/css/myPageEmployer/myBoard.css">
  
  <!--  12월 27일 오전 9시 36분 횟수 51회 -->
  <script src="https://kit.fontawesome.com/a0e57c9b1e.js" crossorigin="anonymous"></script>

  <!-- https://github.com/sockjs/sockjs-client -->
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</head>

<body>
  <th:block th:replace="~{common/myPageEmployer-header}"></th:block>

  <div>
    <div class="member-info-container">
      <div class="header">
        <h2 class="title">내가 작성한 글 목록</h2>
      </div>

      <div class="board-container-background">
        <div class="board-container">
          <div class="list-wrapper">
            <table class="list-table">
              <thead>
                <tr>
                  <th>글번호</th>
                  <th>제목</th>
                  <th>작성일</th>
                  <th>조회수</th>
                </tr>
              </thead>
              <tbody class="boardList"></tbody> <!-- 데이터를 추가할 body-->
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <th:block th:replace="~{common/main-footer}"></th:block>

  <script src="/js/myPageEmployer/myBoard.js"></script>
</body>

</html>