<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>사업장 홍보페이지입니다.</h3>

  <h1> ex - 잡코리아 </h1>
  <table>
    <tr>
      <th>대표자명 :</th>
      <td></td>
      <th>설립일 : </th>
      <td></td>
    </tr>
    <tr>
      <th>직원수 : </th>
      <td></td>
      <th>사업내용 : </th>
      <td></td>
    </tr>
    <tr>
      <th>업종 : </th>
      <td></td>
      <th>사업장 연락처 : </th>
      <td></td>
    </tr>
  </table>

  <table>
    <tr>본점</tr>
    <tr>총 사업체가 홀수일 경우 본점은 위에 100%width로, 나머지는 2개의 사업체가 width를 50%로 해서 전개개</tr>
    <tr>짝수일 경우, 본점도 나머지 사업체와 마찬가지로 한 tr에 2개의 사업체 이미지를 삽입</tr>
  </table>

  
</body>
</html>