<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
  <th:block th:replace="~{common/main-header}"></th:block>

  <h3>회사 소개입니다.</h3>
  <h1> ex - 잡코리아 </h1>
  <table>
    <th:block th:object="${session.loginEmployer}">
      <tr>
        <th>대표자명 :</th>
        <td th:text="*{memberName}"> 대표자명</td>
      </tr>
      <tr>
        <th>설립일 : </th>
        <td th:text="*{enrollDate}"></td>
      </tr>
      <tr>
        <th>대표 전화번호 : </th>
        <td th:text="*{memberTel}"></td>
      </tr>
      <tr>
        <th>사업내용 : </th>
        <td th:text="*{businessWorktype}"></td>
      </tr>
      <tr>
        <th> 사업장 소개</th>
      </tr>
    </th:block>
  </table>

  <div class="modal-container hidden">
    <div class="modal-area">
      <div class="btn-area">
        <button class="update-business-btn">수정하기</button>
        <button class="delete-business-btn">삭제하기</button>
        <span class="back-info" style="cursor: pointer;">&times;</span>
      </div>
      <div class="modal-business-content">
        <div class="nickname-area">사업장 위치 : </div>
        <div class="tel-area">사업장 연락처 : </div>
        <div class="address-area">사업장 주소 : </div>
        <div class="worktype-area">업직종 : </div>        
      </div>
      <div class="modal-recruitment-content">
        <div> 등록된 공고가 없습니다.</div>
      </div>
    </div>
  </div>

  <!-- 보유한 사업체들 나열 -->
  <section class="business-info-container">

    <th:block th:each="business, iterStat: ${businessList}" th:object="${business}">
      <div th:class="|business-box${iterStat.count}|" style="border: 1px solid black; cursor: pointer;"
        th:attr="onclick='businessDetailModal(' + ${business.employerNo} + ')'">

        <div class="business-image-area">
          <img th:if="*{thumbnail}" th:src="*{thumbnail}">
          <span th:unless="*{thumbnail}"> 등록된 섬네일이 없습니다.</span>
        </div>
        <div>
          <span>사업장위치 : </span>
          <span th:text="*{businessNickname}"></span>
        </div>
        <div>
          <span>사업장 연락처 : </span>
          <span th:if="*{businessTel}" th:text="*{businessTel}"></span>
          <span th:unless="*{businessTel}">미입력 상태입니다.</span>
        </div>
        <!-- 사업장 소개 컬럼 ( update 삽입시 th:if문 이용해서 삽입 )-->
        <div> 사업장 소개 </div>
        <div th:text="사업장소개글임시칸"> 임시 사업장 소개글칸칸</div>
        <div>
          <span>사업장 주소 : </span>
          <span th:if="*{businessAddress}" th:text="*{businessAddress}"></span>
          <span th:unless="*{businessAddress}">미입력 상태입니다.</span>
        </div>

        <div>
          <span>업직종 : </span>
          <span th:if="*{#strings.length(businessWorktype)== 0 }">업직종 미입력</span>
          <span th:if="*{#strings.length(businessWorktype)!= 0 }" th:text="*{businessWorktype}" />
        </div>

      </div>
    </th:block>

  </section>



























  <th:block th:replace="~{common/main-footer}"></th:block>
</body>
</html>