<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사업주 employerLogin</title>
  <th:block th:replace="~{common/common}"></th:block>
</head>

<body>
  <th:block th:replace="~{common/signUp-header}"></th:block>

  <main>
    <div class="main-header">
      <span class="logo">
        <a href="/"><img src="/images/logo.png" alt="로고" class="logo-img"></a>
      </span>
      <div class="title">취업빌드는 잡빌드!</div>
    </div>

    <div class="login-container">
      <div>
        <p>샘플데이터 표시용</p>
        <p>email : testEmployer1@kh.or.kr</p>
        <p>pw : pass01!</p>
      </div>
      <form action="/employer/employerLogin" method="post">
        <div class="login-area">
          <input type="text" name="memberEmail" placeholder="이메일을 입력해주세요" value="user02"> 
          <input type="password" name="memberPw" placeholder="비밀번호를 입력해주세요" value="pass01!">
        </div>

        <div class="checkbox-area">
          <input type="checkbox" id="saveId" name="saveId">
          <label for="saveId">아이디 저장</label>
        </div>

        <div class="login-btn-area">
          <button class="login-btn">로그인</button>
        </div>
      </form>
    </div>
    
    <div class="help-links">
      <div>
        <a href="#">이메일 찾기</a>
        <span>&nbsp;|&nbsp;</span>
        <a href="#">비밀번호 찾기</a>
      </div>
      <div>
        <a href="/employer/employerSignUp">회원가입</a>
      </div>
    </div>

  </main>

  <!-- footer 우선 갖다가 쓰는겁니다 잊지말고 바꿔야해요 -->
	<th:block th:replace="~{common/main-footer}"></th:block>
</body>

</html>