<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이메일 찾기 페이지입니다.</title>

  <!-- header footer css 입니다 잊지 말고 header footer 사용시 연결해주세요 + 폰트 어썸 사용 -->
  <th:block th:replace="~{common/common}"></th:block>

</head>

<body>
  <th:block th:replace="~{common/main-header}"></th:block>

  <div class="employerFindPassword-gray">
    <main class="employerFindPassword-white">

      <div class="header-area">
        <span class="logo">
          <a href="/"><img src="/images/logo.png" alt="로고" class="logo-img" href="/"></a>
        </span>
        <div class="title">비밀번호 찾기</div>
      </div>

      <div class="find-password-container">
        <div class="find-method-area">
          <button class="businessRegistrationNumber-btn">사업자 등록번호로 찾기</button>
          <button class="memberTel-btn">전화번호로 찾기</button>
        </div>

        <div class="find-member-info-area">
          <div class="memberName-area">
            <span>가입자명 : </span>
            <input type="text" name="memberName" id="memberName" maxlength="9" placeholder="가입자명을 입력해주세요" required>
          </div>

          <div class="memberEmail-area">
            <span>가입한 이메일 : </span>
            <input type="email" name="memberEmail" id="memberEmail" placeholder="가입한 이메일을 입력해주세요" required>
            <button id="sendAuthKeyBtn">인증번호 받기</button>
          </div>

          <div class="authKey-area">
            <div class="input-button-row">
              <span>인증번호 : </span>
              <input type="text" name="authKey" id="authKey" placeholder="인증번호 6자리를 입력해주세요" maxlength="6" required>
              <button id="confirmAuthKeyBtn">인증하기</button>
            </div>
            
            <div>
              <span id="authKeyMessage">인증번호 6자리를 입력해주세요</span>
            </div>
          </div>

          <div class="businessRegistrationNumber-area">
            <div>
              <span>사업자등록번호 : </span>
              <input type="text" name="businessRegistrationNumber" id="firstNo" maxlength="3" disabled>
              <span>-</span>
              <input type="text" name="businessRegistrationNumber" id="secondNo" maxlength="2" disabled>
              <span>-</span>
              <input type="text" name="businessRegistrationNumber" id="thirdNo" maxlength="5" disabled>
            </div>
            <div>
              <span>ex) 123-45-67890</span>
            </div>
          </div>

          <div class="memberTel-area">
            <span>전화번호 : </span>
            <input type="text" name="memberTel" id="memberTel" placeholder="-없이 입력해주세요" maxlength="11" disabled>
          </div>
        </div>

        <div class="btn-area">
          <button id="confirmBybusinessRegistrationNumberBtn">확인</button>
          <button id="confirmByMemberTelBtn">확인</button>
        </div>
      </div>

    </main>
  </div>

  <th:block th:replace="~{common/main-footer}"></th:block>
  <script src="/js/employer/employerFindPw.js"></script>
</body>


</html>