/* Board container styles */
.board-container {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 20px;
}

/* Board header styles */
.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.board-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 2rem;
}


/* Board list styles */
.board-list {
  border-top: 2px solid #614B38;
}

.post-item {
  padding: 15px 10px;
  padding-left: 3rem;
  transition: background-color 0.2s;
  height: 500px;
  width: 100%;
  text-align: center;
  line-height: 500px;
  border-top: 2px solid #614B38;
}

.loadingBox {
  position: relative;
  width: 100%;
  height: 100%;
}


/* 로딩 화면 */
.loadingBox .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%); 
  width:40px; 
  height:40px; 
  border:10px solid #fff; 
  border-top:10px solid red; 
  border-radius:50em;
  animation-name:spinCircle;
  animation-duration:.8s;
  animation-iteration-count:infinite;
}
@keyframes spinCircle {
  from {
      transform:translate(-50%, -50%) rotate(0);
  }
  to {
      transform:translate(-50%, -50%) rotate(360deg);
  }
}

.hidden {
  display: none;
}