<footer>
  <p>footer 임시용입니다.</p>
  <p>Copyright &copy; KH Information Educational Institute A-Class</p>

  <article>
      <a href="#">프로젝트 소개</a>    
      <span>|</span>
      <a href="#">이용약관</a>    
      <span>|</span>
      <a href="#">개인정보처리방침</a>    
      <span>|</span>
      <a href="#">고객센터</a>    
  </article>
  
  <!--
	<div>
			<div>
				<div>
					<ul>
						<li><a href="#">회사소개</a></li>
						<li><a href="#">이용약관</a></li>
						<li><a href="#">개인정보처리방침</a></li>
						<li><a href="#">위치기반서비스 이용약관</a>
						</li>
						<li>
							<button>이메일 무단수집거부</button>
							<div>
								<div><strong>이메일 무단수집거부</strong>
									<div>
										<div><span>본 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며 이를
												위반 시 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다.<br>게시일: 2004년 4월 30일</span></div>
									</div>
								</div>
							</div>
						</li>
						<li><a href="#">광고문의</a></li>
						<li><a href="#">제휴문의</a></li>
						<li><a href="#">캠페인</a></li>
						<li><a href="#">모바일</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
		  <div>
		    <div>
		      <p>잡빌더</p>
		      <p>대표 : 홍길동 ㅣ 사업자등록번호 : 123-45-56789 ㅣ 주소 : 서울특별시 중구 남대문로 120 3층 E-Class</p>
		      <p>통신판매업 신고번호 : 2024-서울종로-0287호 ㅣ 직업정보제공사업 신고번호 : 서울청 제2024호-11호 ㅣ 유료직업소개업 등록번호 : 제2024-3210195-14-5-00035호</p>
		      <p>Ⓒ JOBKOREA LLC. All rights reserved.</p>
		    </div>
		    <span>
		      <div>
		        <button>콘텐츠산업진흥법에 의한 표시</button>
		        <div>
		          <div>
		            <div>
		              <strong>콘텐츠산업진흥법에 의한 표시</strong>
		              <div>
		                <div>① 콘텐츠의 명칭 : 취업정보<br>② 콘텐츠의 제작 및 표시 : 2002년 1월 14일 (업그레이드된 콘텐츠의 경우 갱신일)<br>③ 콘텐츠의 제작자 : 잡코리아<br>④ 콘텐츠의 이용조건 : 이용약관 참조 (동의없이 무단복제 및 가공을 금함)</div>
		              </div>
		            </div>
		            <button><i></i></button>
		          </div>
		        </div>
		      </div>
		    </span>
		  </div>
		</div>
	
  -->
</footer>



<script th:inline="javascript">
  const message =  /*[[${message}]]*/ "전달 받은 message";

  if(message != null) alert(message);
</script>

<script src="/js/main.js"></script>