<header>
  <nav class="main-nav">
    <div class="sub-nav">
    <i class="fa-solid fa-bars"></i>
    </div>
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="로고" class="logo-img">
    </div>
    <div class="search-bar">
      <a class="myPageBtn" href="http://localhost/myPageWorkee/myPageWorkerInfo">
      <h3>마이페이지</h3>
      </a>
    </div>

    <div class="user-menu">
      <!-- 로그인 시 -->
      <th:block th:if="${session.loginWorker == null}">
        <a href="#" class="nav-login">로그인</a>
        <a href="#" class="nav-singup">회원가입</a>
      </th:block>

      <th:block th:if="${session.loginWorker != null}">
        <span class="nav-nickname" th:text="${session.loginWorker.workerNickname}">닉네임&nbsp;&nbsp;<i class="fa-solid fa-chevron-down"></i></span>
      </th:block>
    </div>
  </nav>

  <div id="menu" class="menu">
    <ul>
      <li><a href="#">메뉴 1</a></li>
      <li><a href="#">메뉴 2</a></li>
      <li><a href="#">메뉴 3</a></li>
      <li><a href="#">메뉴 4</a></li>
      <li><a href="#">메뉴 5</a></li>
    </ul>
  </div>
  


</header>