<header>
  <nav class="main-nav">
    <div class="hamburger">
      <i class="fa-solid fa-bars"></i>
      <ul class="nav-mypagemenu">
        <li><a href="/myPageEmp/info">내 정보 보기</a></li>
        <li><a href="/myPageEmp/changePw">비밀번호 변경</a></li>
        <li><a href="/myPageEmp/recruitmentList">내가 쓴 공고</a></li>
        <li><a href="/myPageEmp/myWrite">내가 쓴 글</a></li>
        <li><a href="/myPageEmp/promoteBusiness">사업장 관리/홍보</a></li>
        <li><a href="/myPageEmp/viewResumes">제출된 이력서 보기</a></li>
        <li><a href="/myPageEmp/secession">회원탈퇴</a></li>
      </ul>
    </div>
    </div>
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="로고" class="logo-img">
    </div>
    <div class="search-bar">
      <a class="myPageBtn" href="/myPageEmp/info"><span>마이페이지</span></a>
    </div>

    <div class="user-menu">

      <th:block th:if="${session.loginEmployer != null}" th:object="${session.loginEmployer}">
        <div>
          <span th:text="*{businessName}"></span>
        </div>

        <ul class="nav-mypage">
          <li><a href="/myPageEmp/info">회원 정보</a></li>
          <li><a href="/myPageEmp/recruitmentList">내가 쓴 공고</a></li>
          <li><a href="/employer/employerLogout">로그아웃</a></li>
        </ul>
      </th:block>

    </div>
  </nav>

</header>