<link rel="stylesheet" href="/css/myPageWorker/myPageHeader.css">
<header>
  <nav class="main-nav">
    <div class="hamburger">  
      <i class="fa-solid fa-bars"></i>
      <div class="nav-mypagemenu">
        <a href="http://localhost/myPageWorkee/myPageWorkerInfo">회원정보</a></li>
        <a href="#">내글보기</a></li>
        <a href="#">이력서관리</a></li>
        <a href="http://localhost/myPageWorkee/myPageWorkerChangePw">비밀번호변경</a></li>
        <a href="http://localhost/myPageWorkee/myPageWorkerSecession">회원탈퇴</a></li>
      </div>
    </div>
    </div>
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="로고" class="logo-img">
    </div>
    <div class="search-bar">
      <a class="myPageBtn" href="http://localhost/myPageWorkee/myPageWorkerInfo">
      <h3>마이페이지</h3>
      </a>
    </div>

    <div class="user-menu">
      <!-- 로그인 시 -->
      <th:block th:if="${session.loginWorker == null}">
        <a href="#" class="nav-login">로그인</a>
        <a href="#" class="nav-singup">회원가입</a>
      </th:block>

      <th:block th:if="${session.loginWorker != null}">
          <span class="nav-nickname" th:text="${session.loginWorker.workerNickname}">닉네임&nbsp;&nbsp;<i class="fa-solid fa-chevron-down"></i></span>
          <div class="nav-mypage hidden">
              <a href="/myPageWorkee/myPageWorkerInfo">회원 정보</a>
              <a href="/resume/resumeList">이력서 관리</a>
              <a href="/worker/workerLogout">로그아웃</a>
          </div>
        </th:block>
    </div>
  </nav>

  <script src="/js/myPageWorker/workerHeader.js"></script>
</header>
