<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Builder</title>
    <link rel="stylesheet" href="/css/chatting/counselMain.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</head>
<body>
    <div class="header">
        <img src="/images/logo.png" alt="로고" class="logo">
    </div>
    
    <div class="main-container">
        <div class="chat-list">
            <div class="status-filters">
                <button class="status-btn active counseling">진행중</button>
                <button class="status-btn waiting complete">완료됨</button>
            </div>
            
            <div id="chatUsers">
                <th:block th:each="room : ${roomList}">
                    <div th:if="${room.chattingRoomEndFl} eq 'N'" class="chat-item" th:chat-no="${room.chattingRoomNo}" th:target-no="${room.targetNo}" th:end-fl="${room.chattingRoomEndFl}">
                        <div class="chat-preview">
                            <div>
                                <img src="/images/avatar.png" alt="User" class="user-avatar">
                                <div>
                                    <div th:text="${room.targetName}">상대방 이름</div>
                                    <div style="font-size: 0.9em;" th:utext="${room.lastMessage}">메세지 내용</div>
                                    <div class="timestamp" th:text="${room.sendTime}">보낸 시간</div>
                                </div>
                            </div>
                            <div th:if="${room.notReadCount > 0}">!</div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        
        <div class="chat-content">
            <div class="chat-header">
                <h2 id="chatTitle">채팅</h2>
                <button class="end-btn">상담 완료</button>
            </div>
            <div class="messages" id="messageContainer">
                <div class="welcome-message">
                    <p th:text="|${session.loginCounselor.memberName} 상담가님,|"></p>
                    <p>오늘 하루도 참을 인 3번이면 살인을 피할 수 있습니다.</p>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" id="messageInput" style="flex: 1; padding: 0.5rem;" disabled>
                <button class="send">전송</button>
            </div>
        </div>
        
    </div>

    <script th:inline="javascript">
		// 로그인한 회원 번호
		const loginMemberNo = /*[[${session.loginCounselor?.memberNo}]]*/ "로그인 회원 번호";

	</script>
    <script src="/js/chatting/counselMain.js"></script>
</body>
</html>