<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Job Builder</title>

	<!-- header footer css 입니다 잊지 말고 header footer 사용시 연결해주세요 + 폰트 어썸 사용 -->
	<th:block th:replace="~{common/common}"></th:block>

	<!-- <main> 안쪽 CSS -->
	<link rel="stylesheet" href="/css/common/main.css">
</head>

<body>
	<!-- 배너 X 클릭 시 쿠키에 hideTopBanner=true 생성(하루동안 안보임) -->
	<section class="top-banner-box" id="top-banner">
		<img src="/images/top-banner.png">
		<img src="/images/close_top_banner.svg" id="top-banner-close-btn">
	</section>

	<!-- 로고 및 검색바 로그인 -->
	<th:block th:replace="~{common/main-header}"></th:block>

	<main>

		<!-- 지역 및 급구 알바 알림판 -->
		<section class="job-filter">
			<div class="filter-options">
				<span>지역별</span>
				<span>전체 /서울 / 경기 / 인천<span>
			</div>
			<div class="date-stats">
				<div class="stat-item">
					<span><i class="fa-solid fa-hourglass-end"></i></span>
					<span>마감 임박 공고</span>
				</div>
				<table class="deadline-table">
					<thead>
						<tr>
							<th>마감일</th>
							<th>남은 기간</th>
							<th>공고 수</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="deadlineJob : ${upcomingDeadlineJobs}">
							<td th:text="${deadlineJob.recruitmentDeadline}">날짜</td>
							<td th:text="'D-'+${deadlineJob.remainingDays == 0 ? 'Day' : deadlineJob.remainingDays}"
								th:classappend="${deadlineJob.remainingDays == 0} ? 'd-day' : ''">디데이</td>
							<td class="count-highlight" th:text="${deadlineJob.totalCount}" 
							th:data-test-no="${deadlineJob.recruitmentDeadline}"
							onclick="fetchDeadlineJob(event)">공고수</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<!-- vip 공고 -->
		<section class="job-navigation">
			<button class="nav-prev" onclick="moveSlide(-1)">
				<i class="fa-solid fa-chevron-left"></i>
			</button>
			<div class="page-buttons">
				<div class="carousel-container" id="carousel">
					<div class="carousel-slide" th:each="brand : ${topBrandList}">
						<button class="top-brand-logo-btn" th:onclick="|fowardRecruitment('${brand.employerNo}')|">
							<img th:src="${brand.businessImgUrl}" class="top-brand-logo">
						</button>
					</div>
				</div>
			</div>
			<button class="nav-next" onclick="moveSlide(1)">
				<i class="fa-solid fa-chevron-right"></i>
			</button>
		</section>

		<!-- 플래티넘멤버십 공고 -->
		<section class="vip-listings">
			<section class="title-section">
				<p class="job-card-list-title">
					<span>플</span>
					<span>래</span>
					<span>티</span>
					<span>넘</span>
					<span>&nbsp;</span>
					<span>V</span>
					<span>I</span>
					<span>P</span>
					<span>알</span>
					<span>바</span>
				</p>
				<a href="/payments">신청하기 <i class="fa-solid fa-chevron-right"></i></a>
			</section>
			<div class="job-flex">

				<div th:each="brand : ${platinumBrandList}" class="job-card"
					th:onclick="|fowardRecruitment('${brand.employerNo}')|">
					<div class="company-logo">
						<img th:src="${brand.businessImgUrl != null ? brand.businessImgUrl : '/images/sample-logo1.png'}"
							th:alt="${brand.businessName}+${brand.businessNickname}+로고" class="logo-image">
					</div>
					<div class="job-info">
						<h3 th:text="${brand.recruitmentTitle}" class="recruitment-title-h3">공고제목</h3>
						<section class="region-mount-section">
							<span
								th:text="${brand.workcondAddressTypeInfo != null ? brand.workcondAddressTypeInfo : '전국'}">지역</span>
							·
							<span th:text="${brand.salaryName}"
								th:classappend="${brand.salaryName == '시급' ? 'salary-hourly' : ''}">타입</span>
							<span th:text="${brand.salaryMount != 0 ? brand.formatSalaryMount : ''}">금액</span>
						</section>
					</div>
				</div>

			</div>
		</section>

		<!-- 골드멤버십 공고 최대 12개 -->
		<section class="regular-listings">
			<section class="title-section">
				<p class="job-card-list-title">
					<span>F</span>
					<span>o</span>
					<span>c</span>
					<span>u</span>
					<span>s</span>
					<span>&nbsp;</span>
					<span>알</span>
					<span>바</span>
				</p>
				<section>
					<a href="/payments">신청하기 <i class="fa-solid fa-chevron-right"></i></a>
					&nbsp;
					<a href="/employer/employerSignUp">입점안내 <i class="fa-solid fa-chevron-right"></i></a>
				</section>
			</section>

			<div class="job-flex">

				<div th:each="brand : ${goldBrandList}" class="job-card"
					th:onclick="|fowardRecruitment('${brand.employerNo}')|">
					<div class="company-logo">
						<img th:src="${brand.businessImgUrl != null ? brand.businessImgUrl : '/images/sample-logo1.png'}"
							th:alt="${brand.businessName}+${brand.businessNickname}+로고" class="logo-image">
					</div>
					<div class="job-info">
						<h3 th:text="${brand.recruitmentTitle}" class="recruitment-title-h3">공고제목</h3>
						<section class="region-mount-section">
							<span
								th:text="${brand.workcondAddressTypeInfo != null ? brand.workcondAddressTypeInfo : '전국'}">지역</span>
							·
							<span th:text="${brand.salaryName}"
								th:classappend="${brand.salaryName == '시급' ? 'salary-hourly' : ''}">타입</span>
							<span th:text="${brand.salaryMount != 0 ? brand.formatSalaryMount : ''}">금액</span>
						</section>
					</div>
				</div>

			</div>
		</section>

		<!-- 최근 공고게시글 리스트 10개 -->
		<section class="recruitment-list">
			<section class="title-section">
				<p class="job-card-list-title">
					<span>S</span>
					<span>p</span>
					<span>e</span>
					<span>c</span>
					<span>i</span>
					<span>a</span>
					<span>l</span>
					<span>&nbsp;</span>
					<span>알</span>
					<span>바</span>
				</p>
				<section>
					<a href="/recruitment/list">전체보기 <i class="fa-solid fa-chevron-right"></i></a>
				</section>
			</section>

			<table>
				<thead>
					<tr>
						<th>기업명</th>
						<th>공고제목</th>
						<th>근무시간</th>
						<th>근무지역</th>
						<th>급여</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="recruitment : ${recentRecruitmentList}">
						<td th:text="${recruitment.businessName}+' '+${recruitment.businessNickname}">기업명</td>
						<td class="single-line">
							<a th:href="@{/recruitment/detail/{id}(id=${recruitment.recruitmentNo})}"
								th:text="${recruitment.recruitmentTitle}">상세보기</a>
						</td>
						<td th:text="${recruitment.timeName}">근무시간</td>
						<td
							th:text="${recruitment.workcondAddressTypeInfo != null ? recruitment.workcondAddressTypeInfo : '전체'}">
							근무지역</td>
						<td>
							<span
								th:text="${recruitment.salaryMount != 0 ? recruitment.formatSalaryMount : ''}">급여</span>
							<span th:class="${recruitment.salaryMount != 0 ? 'salary-type-badge' : ''}"
								th:classappend="${recruitment.salaryName == '시급' ? 'salary-hourly' : ''}"
								th:text="${recruitment.salaryName}">급여타입</span>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<!-- 공지사항 및 게시글 -->
		<section class="announcements-posts">
			<div class="posts-box">
				<section class="title-section">
					<h3>공지사항</h3>
					<a href="/serviceCenter/notice" style="color:#6a6a6a">전체보기 ></a>
				</section>
				<table>
					<tbody>
						<tr th:each="notice : ${noticeList}">
							<td>
								<a th:href="@{/serviceCenter/notice/{id}(id=${notice.serviceCenterNo})}"
									th:text="'· ' + ${notice.serviceCenterTitle}">공지제목</a>
							</td>
							<td th:text="${notice.serviceCenterWriteDate}">작성일</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="posts-box">
				<section class="title-section">
					<h3>알바게시판</h3>
					<a href="/board/2" style="color:#6a6a6a">전체보기 ></a>
				</section>
				<table>
					<tbody>
						<tr th:each="board : ${boardList}">
							<td>
								<a th:href="@{/board/{code}/{id}(code=${board.boardCode},id=${board.boardNo})}"
									th:text="'· ' + ${board.boardTitle}">게시글제목</a>
							</td>
							<td th:text="${board.boardWriteDate}">작성일</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

	</main>

	<button id="topButton">TOP</button>
	<th:block th:replace="~{common/main-footer}"></th:block>
</body>

</html>