* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
  background-color: #fff0dc6b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #F0BB78;
  text-align: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.main-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  height: calc(100vh - 80px);
  margin: 20px auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(84, 58, 20, 0.1);
}

.chat-list {
  width: 300px;
  border-right: 1px solid #F0BB78;
  overflow-y: auto;
  background-color: #FFF0DC;
  border-radius: 15px 0 0 15px;
}

.status-filters {
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
}

.status-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #FFF0DC;
  color: #543A14;
  border: 1px solid #F0BB78;
}

.status-btn.active {
  background-color: #F0BB78;
  color: #131010;
}

.status-btn.waiting {
  background-color: #FFF0DC;
}

.chat-item {
  padding: 1rem;
  border-bottom: 1px solid #F0BB78;
  cursor: pointer;
  transition: background-color 0.2s;
}

.chat-item:hover {
  background-color: #FFF0DC;
}

.chat-item.active {
  background-color: #F0BB78;
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 15px 15px 0;
}

.chat-header {
  padding: 1rem;
  background-color: #F0BB78;
  color: #543A14;
  border-radius: 0 15px 0 0;
}

.messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.welcome-message {
  text-align: center;
  margin: auto;
  color: #543A14;
  font-size: 1.2em;
  line-height: 1.6;
}

.message {
  max-width: 70%;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border-radius: 10px;
}

.message.received {
  background-color: white;
  margin-right: auto;
  border: 1px solid #F0BB78;
}

.message.sent {
  background-color: #F0BB78;
  margin-left: auto;
  color: #543A14;
}

.sent.timestamp{
  text-align: right;
}

.chat-input {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: white;
  border-top: 1px solid #F0BB78;
  border-radius: 0 0 15px 0;
}

.chat-input input {
  border: 1px solid #F0BB78;
  border-radius: 5px;
}

.chat-input button {
  padding: 0.5rem 1rem;
  background-color: #F0BB78;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #543A14;
}

.timestamp {
  font-size: 0.8rem;
  color: #543A14;
  margin-top: 0.3rem;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #F0BB78;
}

.chat-preview {
  display: flex;
  align-items: center;
}