<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>

    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" th:href="@{/css/board/boardWrite.css}">
</head>

<body>
    <main>
        <th:block th:replace="~{common/main-header}"></th:block>

        <form action="insert" method="POST" class="board-write" id="boardWriteFrm" enctype="multipart/form-data">
            <!-- 이미지같은 파일을 서버단으로 제출할 때 사용하는 enctype-->

            <!-- 제목 -->
            <h1 class="board-title">
                <input type="text" name="boardTitle" placeholder="제목" value="" maxlength="25">
            </h1>




            <!-- 내용 -->
            <div class="board-content">
                <textarea name="boardContent" maxlength="2000"></textarea>
            </div>

            <!-- 업로드 이미지 영역 -->
            <h5>업로드한 이미지</h5>
            <div class="img-box">

                <div class="boardImg">
                    <label for="img1">
                        <img class="preview" src="">
                    </label>
                    <input type="file" name="images" class="inputImage" id="img1" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>
            </div>
            <div> 이미지는 한장만 등록 가능하며, 5MB를 초과하는 이미지 파일은 등록할 수 없습니다.</div>
            <!-- 버튼 영역 -->
            <div class="board-btn-area">
                <button type="submit" id="writebtn">등록</button>
            </div>


        </form>

    </main>

    <th:block th:replace="~{common/main-footer}"></th:block>

    <script src="/js/board/boardWrite.js"></script>

</body>

</html>