<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="|${board.boardNo}번 글|">게시판 이름</title>


    <th:block th:replace="~{common/common}"></th:block>


    <link rel="stylesheet" href="/css/board/boardDetail.css">
    <link rel="stylesheet" href="/css/board/comment.css">

</head>

<body>
    <main>
        <th:block th:replace="~{common/main-header}"></th:block>

        <section class="board-detail" th:object="${board}">
            <!-- 제목 -->
            <h1 class="board-title" th:text="*{boardTitle}"> 게시글 제목 </h1>

            <!-- 프로필 + 닉네임 + 작성일 + 조회수 -->
            <div class="board-header">
                <div class="board-writer">

                    <th:block th:if="${board.workerNickname == null}">
                        <span th:text="*{businessName}">작성자 닉네임</span>
                    </th:block>
                    <th:block th:if="${board.workerNickname != null}">
                        <span th:text="*{workerNickname}">작성자 닉네임</span>
                    </th:block>
                </div>

                <div class="board-info">
                    <p> <span>작성일</span> [[*{boardWriteDate}]] </p>

                    <!-- 수정한 게시글인 경우 -->

                    <!-- 참조하는 객체가 있으면 true, 없으면 false -->
                    <p th:if="*{boardUpdateDate}">
                        <span>마지막 수정일</span> [[*{boardUpdateDate}]]
                    </p>

                    <p> <span>조회수</span> [[*{boardReadCount}]]</p>
                </div>
            </div>

            <!------------------------------------ 본문 -------------------------------------------------->

            <!-- 내용 -->
            <div class="board-content" th:utext="*{boardContent}">내용</div>


            <!-- 버튼 영역-->
            <div class="board-btn-area">
                <div id="nonblock"></div>
                <th:block th:if="${session.loginWorker != null} or ${session.loginEmployer != null} ">                  
                    <!-- 로그인한 회원과 게시글 작성한 회원의 번호가 같은 경우 -->
                    <th:block
                        th:if="${board.memberNo == session.loginWorker?.memberNo} or ${board.memberNo == session.loginEmployer?.memberNo}  ">
                        <button id="updateBtn">수정</button>
                        <button id="deleteBtn">삭제</button>
                    </th:block>
                </th:block>
                <th:block th:if="${param.key2}" th:switch="${#strings.toString(param.key2)}">
                    <button th:case="myWrite" id="goToMyWriteListBtn">이전으로</button>
                    <button th:case="myLike" id="goToMyLikeListBtn">이전으로</button>
                </th:block>

                <th:block th:unless="${param.key2}">
                    <button id="goToListBtn">목록으로</button>
                </th:block>
            </div>

            <!-- 이미지 출력 구문  -->
            <th:block th:if="${ #lists.size(board.imageList) > 0}">

                <!-- 썸네일 있다면 start = 1 (controller 에서 req)
					썸네일 없다면 start = 0
				-->

                <th:block th:if="${#lists.size(board.imageList) > start}">

                    <h5>업로드한 이미지</h5>
                    <th:block th:each="i : ${#numbers.sequence(start, #lists.size(board.imageList) - 1)}">
                        <div class="img-box">
                            <div class="boardImg">

                                <img th:src="|${board.imageList[i].boardImgPath}${board.imageList[i].boardImgRename}|">                                
                            </div>
                        </div>
                    </th:block>
                </th:block>

            </th:block>

        </section>

        <!-- 댓글 영역-->
        <th:block th:replace="~{board/comment}"></th:block>
        
    </main>


    <th:block th:replace="~{common/main-footer}"></th:block>

    <script th:inline="javascript">

        // 현재 게시글 번호를 전역 변수로 저장
        const boardNo = /*[[${board.boardNo}]]*/ "게시글 번호";
        const userDefaultIamge = /*[[#{user.default.image}]]*/ "기본이미지";
        // - loginMember가 null 인 경우 null 반환
        const loginWorkerNo = /*[[${session.loginWorker?.memberNo}]]*/ "로그인 근로자 번호";
        const loginEmployerNo = /*[[${session.loginEmployer?.memberNo}]]*/ "로그인 사업주 번호"
    </script>


    <script src="/js/board/boardDetail.js"></script>
    <script src="/js/board/comment.js"></script>

</body>

</html>