<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <th:block th:replace="~{common/common}"></th:block>
</head>

<body>

  <h1> 한줄톡톡 </h1>


  <!-- 댓글 작성 부분 -->
  <div class="onetalk-write-area">
    <textarea id="onetalkContentBoard"></textarea>
    <button id="addonetalk">
      댓글<br>
      등록
    </button>
  </div>

  <th:block th:if="${#lists.isEmpty(onetalkList)}">
    <tr>
      <th colspan="6">게시글이 존재하지 않습니다.</th>
    </tr>
  </th:block>

  <!-- 게시글이 존재할 때 -->
  <th:block th:unless="${#lists.isEmpty(onetalkList)}">
    <!-- iterStat : Varstatus 같은 역할 반복변수-->
    <tr th:each="onetalk, iterStat : ${onetalkList}" th:object="${onetalk}">
      
    </tr>
  </th:block>



  
</body>

</html>