<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <th:block th:replace="~{common/common}"></th:block>
</head>

<body>


  </div>
  <div id="onetalkArea">
    <!-- 댓글 목록 -->
    <div class="onetalk-list-area">

      <th:block th:if="${#lists.isEmpty(oneTalkList)}">
        <tr>
          <th colspan="6">게시글이 존재하지 않습니다.</th>
        </tr>
      </th:block>
      <ul id="oneTalkList">

        

    </div>
    </th:block>

    </li>

    </ul>
  </div>



</body>

</html>