
/* Board container styles */
.board-container {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 20px;
}

/* Board header styles */
.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.board-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 2rem;
}

.status-change a{
  background-color: white;
  color: var(--primary-orange);
  padding: 8px 16px;
  border: 2px solid var(--secondary-orange);
  border-radius: 20px;
  cursor: pointer;
  text-decoration-line: none;
  font-weight: bold;
}

.status-change > .active{
  background-color: var(--primary-orange);
  color: wheat;
  text-decoration-line: none;
}


/* Search section styles */
.search-section {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.search-container {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.search-type {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.search-input-wrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 8px 40px 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.search-input:focus {
  outline: none;
  border-color: #614B38;
}

.search-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--button);
  font-weight: bold;
  cursor: pointer;
  padding: 4px;
}

.search-button:hover {
  color: var(--button);
}

.faq-list {
  border-top: 2px solid #614B38;
}

.faq-item {
  border-bottom: 1px solid #e0e0e0;
}

.faq-question {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
}

.faq-question:hover {
  background-color: var(--secondary-orange);
}

.question-text {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-right: 20px;
}

.toggle-icon {
  font-size: 20px;
  color: #614B38;
  margin: 0 20px;
  transition: transform 0.3s ease;
}

.faq-item.active .toggle-icon {
  transform: rotate(45deg);
}

.faq-item.active {
  background-color: var(--primary-orange);
}

.faq-item.active span {
  color:white;
}


.post-info {
  display: flex;
  gap: 20px;
  color: #666;
  font-size: 14px;
  white-space: nowrap;
}

.faq-answer {
  display: none;
  padding: 20px 40px;
  background-color: #f9f9f9;
  border-top: 1px solid #e0e0e0;
  line-height: 1.6;
}

.faq-answer p {
  margin: 10px 0;
  color: #666;
}

.faq-item.active .faq-answer {
  display: block;
}