<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    
  <!-- header footer css 입니다 잊지 말고 header footer 사용시 연결해주세요 + 폰트 어썸 사용 -->
  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/resume/resumeRecommend.css">

</head>
<body>
  
  <th:block th:replace="~{common/main-header}"></th:block>




  <div class="recruitmentList-gray">
    <main class="recruitmentList-white">
      <h2>맞춤 알바 추천 목록</h2>

    <section class="form-section">

          <div class="item">
              근무직종 :
              <div class="subitem-container" id="resumeWorkType"></div>
          </div>

          <div class="item">
              근무형태 :
              <div class="subitem-container" id="resumeJobTypeList"></div>
          </div>


      <p>
          <div class="item">
              근무기간 :
              <span class="subitem" id="periodName"></span>
          </div>
      </p>

      <p>
          <div class="item">
              근무요일 :
              <div class="subitem-container" id="dayList"></span>
          </div>
      </p>

      <p>
          <div class="item">
              근무시간 :
              <div class="subitem-container" id="timeList"></div>
          </div>
      </p>

      <p>
          <div class="item">
              희망급여 :
              <span class="subitem" id="salary"></span>
          </div>
      </p>

  </section>

      <div class="list-wrapper">
        <table class="list-table">

          <thead>
            <tr>
              <th>공고 번호</th>
              <th>위치</th>
              <th>
                <ul>
                  <li>공고 제목</li>
                  <li>회사명</li>
                </ul>
              </th>
              <th>급여 (원)</th>
              <th>근무 시간</th>
              <th>등록일</th>
              <th>마감일</th>
            </tr>
          </thead>

          <tbody id="recruitmentbody">
          </tbody>

        </table>
      </div>

      <div class="paginationRecruitment-area">
        <!-- 검색 한 경우-->
				<ul class="paginationRecruitment" "${param.query}" "${paginationRecruitment}" >

					<li><a href="@{/recruitment/list (cp=1, query=${param.query})}">&lt;&lt;</a></li>
					<li><a href="@{/recruitment/list (cp=*{prevPage}, query=${param.query})}">&lt;</a></li>

					<!-- 특정 페이지로 이동 -->
					<div "*{startPage lt endPage}" each="i : *{#numbers.sequence(startPage, endPage)}">
						
						<!-- 현재 보고있는 페이지 -->
						<li "${i} == *{currentPage}">
							<a class="current" "${i}">현재페이지</a>
						</li>
						
						<!-- 보고있지 않은 페이지 -->
						<li "${i} == *{currentPage}">
							<a href="@{/recruitment/list (cp=${i}, query=${param.query})}" 
								"${i}">이동할 페이지</a>
						</li>
					</div>

          <!-- 일치하는 공고가 없을 경우-->
          <div "*{startPage lt endPage}">
						<li>
							<a class="current">1</a>
						</li>
					</div>
					
					<li><a href="@{/recruitment/list (cp=*{nextPage}, query=${param.query})}">&gt;</a></li>
					<li><a href="@{/recruitment/list (cp=*{maxPage}, query=${param.query})}">&gt;&gt;</a></li>
				</ul>
      </div>

    </main>
  </div>



  <script th:inline="javascript">
    const resumeNo = /*[[${resumeNo}]]*/1;
  </script>

  <script src="/js/resume/resumeRecommend.js"></script>
  <!-- footer 우선 갖다가 쓰는겁니다 잊지말고 바꿔야해요 -->
  <th:block th:replace="~{common/main-footer}"></th:block>
</body>

</html>