<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobbuilder.project.myPageEmployer.model.mapper.MyPageEmployerMapper">

<!--  사업장 조회시 사용할 MAP -->
<resultMap type="EMPLOYER" id="recru_rm">
	<id property="employerNo" column="EMPLOYER_NO" />
	<!-- 해당 게시글 이미지 목록 조회 후 필드에 저장 -->
		<collection 
			property="businessImgList"
			select="selectImageList"
			column="EMPLOYER_NO"
			javaType="java.util.ArrayList"
			ofType="BusinessImg"
			/>
</resultMap>
<!-- 조회한 사업장의 이미지 목록 조회 -->
	<select id="selectImageList" resultType="BoardImg">
		SELECT * FROM 
		"BUSINESS_IMG"
		WHERE EMPLOYER_NO = #{employerNo}
		ORDER BY BUSINESS_IMG_ORDER
	</select>

<!-- 내 정보 보기 페이지 관련 -->
	<!-- 고용주 1명의 사업장 리스트 얻어오기 -->
	<select id="selectBusinessList">
		SELECT EMPLOYER_NO, BUSINESS_NICKNAME, BUSINESS_ADDRESS, BUSINESS_TEL
		FROM "EMPLOYER"
		WHERE MEMBER_NO = ${memberNo}
			AND BUSINESS_DEL_FL = 'N'
		ORDER BY EMPLOYER_NO ASC
	</select>
	
	<!-- 사업장 1개마다 업직종 얻어오기 -->
	<select id="selectWorktype">
		SELECT BUSINESS_WORKTYPE_NO, WORKTYPE_CATEGORY, EMPLOYER_NO 
		FROM BUSINESS_WORKTYPE b
		JOIN EMPLOYER_WORKTYPE ew ON (b.WORKTYPE_NO = ew.WORKTYPE_NO)
		WHERE EMPLOYER_NO = ${employerNo}
	</select>
	
	<!-- 사업장 1개의 대표이미지 얻어오기 -->
	<select id="selectThumbNail">
		SELECT BUSINESS_IMG_PATH || BUSINESS_IMG_RENAME AS THUMBNAIL
		FROM "BUSINESS_IMG"
		WHERE EMPLOYER_NO = ${employerNo}
			AND BUSINESS_IMG_ORDER = 0
	</select>

	<!-- 사업장 정보 얻어오기 -->
	<select id="getBusiness" resultMap="recru_rm">
		SELECT EMPLOYER_NO, BUSINESS_REGISTRATION_NUMBER, BUSINESS_NAME, BUSINESS_ADDRESS, 
			e.MEMBER_NO, BUSINESS_NICKNAME, BUSINESS_TEL, MEMBER_NAME
		FROM "EMPLOYER" e
		JOIN "MEMBER" m ON (e.MEMBER_NO = m.MEMBER_NO)
		WHERE e.EMPLOYER_NO = ${employerNo}
			AND BUSINESS_DEL_FL = 'N'
	</select>
	
	<!-- 사업장의 업직종 얻어오기 -->
	<select id="getBusinessWorktype">
		SELECT BUSINESS_WORKTYPE_NO, bw.WORKTYPE_NO, WORKTYPE_CATEGORY
		FROM BUSINESS_WORKTYPE bw
		JOIN EMPLOYER_WORKTYPE ew ON(bw.WORKTYPE_NO = ew.WORKTYPE_NO)
		WHERE EMPLOYER_NO = ${employerNo}
	</select>
	
	<!-- 각 사업장의 공고목록 얻어오기 (제목, 마감일, 인원, 완료여부 표시) -->
	<select id="getRecruitmentList">
		SELECT RECRUITMENT_NO, RECRUITMENT_TITLE, NUM_OF_RECRUITMENT_NAME, RECRUIT_COMPLETE_FL,
			TO_CHAR(RECRUITMENT_DEADLINE, 'YYYY/MM/DD') AS RECRUITMENT_DEADLINE
		FROM RECRUITMENT
		WHERE EMPLOYER_NO = ${empNo}
			AND RECRUITMENT_DEL_FL = 'N'
	</select>
	
	
<!-- 기본정보 수정 페이지 관련 -->
	<!-- 암호화된 비밀번호 얻어오기 -->
	<select id="getPw">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>

	<!-- memberEmail을 보유한 고용주의 본점 정보 얻어오기 -->
	<select id="getEmployer">
		SELECT e.MEMBER_NO, EMPLOYER_NO, OPTIONAL_AGREE_FL,
			BUSINESS_REGISTRATION_NUMBER, BUSINESS_NAME, BUSINESS_ADDRESS, BUSINESS_NICKNAME,
			MEMBER_EMAIL, MEMBER_NAME, MEMBER_TEL,
			TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE,
			m.AUTHORITY_NO, AUTHORITY_NAME
		FROM "EMPLOYER" e
		JOIN "MEMBER" m ON(e.MEMBER_NO = m.MEMBER_NO)
		JOIN AUTHORITY a ON(m.AUTHORITY_NO = a.AUTHORITY_NO)
		WHERE MEMBER_EMAIL = #{memberEmail}
			AND m.AUTHORITY_NO = 1
			AND BUSINESS_NICKNAME = '본점'
			AND MEMBER_DEL_FL = 'N'
	</select>

<!-- 비밀번호 변경 페이지 관련 -->
	<!-- 원래 비밀번호 얻어오기 -->
	<select id="getOriginPw">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_NO = ${memberNo}
	</select>


<!-- 내가 쓴 공고 페이지 관련 -->
	<!-- 내가 쓴 공고 수 조회 -->
	<select id="getListCount">
		SELECT COUNT(*)
		FROM "RECRUITMENT"
		WHERE RECRUITMENT_DEL_FL = 'N'
			AND MEMBER_NO = ${memberNo}
	</select>
	
	<!-- 내가 쓴 공고의 지정된 페이지 목록 조회 -->
	<select id="selectRecruitmentList">
		SELECT RECRUITMENT_NO, RECRUITMENT_TITLE, e.BUSINESS_NICKNAME,
			<![CDATA[
			CASE
				WHEN SYSDATE - WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60 * 60) || '초 전'
				
				WHEN SYSDATE - WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60) || '분 전'
				
				WHEN SYSDATE - WRITE_DATE < 1
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24) || '시간 전'
				
				ELSE TO_CHAR(WRITE_DATE, 'YYYY-MM-DD') 
			END AS WRITE_DATE,
			]]>
			TO_CHAR(RECRUITMENT_DEADLINE, 'YYYY/MM/DD') AS RECRUITMENT_DEADLINE,
			RECRUIT_COMPLETE_FL
		FROM RECRUITMENT r 
		JOIN EMPLOYER e ON(r.EMPLOYER_NO = e.EMPLOYER_NO)
		WHERE RECRUITMENT_DEL_FL = 'N'
			AND r.MEMBER_NO = ${memberNo}
		ORDER BY RECRUITMENT_NO DESC
	</select>
	
	<!-- 검색 조건에 맞는 공고 수 조회 -->
	<select id="getSearchListCount">
		SELECT COUNT(*)
		FROM "RECRUITMENT" r
		JOIN "EMPLOYER" e ON(r.EMPLOYER_NO = e.EMPLOYER_NO)
		WHERE RECRUITMENT_DEL_FL = 'N'
			AND r.MEMBER_NO = ${memberNo}
			<choose>
				<when test='key == "t"'>
				AND RECRUITMENT_TITLE LIKE '%' || #{query} || '%'
				</when>
				
				<when test='key == "n"'>
				AND e.BUSINESS_NICKNAME LIKE '%' || #{query} || '%'
				</when>
				
				<otherwise>
				AND (
					RECRUITMENT_TITLE LIKE '%' || #{query} || '%'
					OR
					e.BUSINESS_NICKNAME LIKE '%' || #{query} || '%'
				)
				</otherwise>
			</choose>
	</select>

	<!-- 내가 쓴 공고 중 검색 결과 목록 조회 -->
	<select id="searchRecruitmentList">
		SELECT RECRUITMENT_NO, RECRUITMENT_TITLE, e.BUSINESS_NICKNAME,
			<![CDATA[
			CASE
				WHEN SYSDATE - WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60 * 60) || '초 전'
				
				WHEN SYSDATE - WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60) || '분 전'
				
				WHEN SYSDATE - WRITE_DATE < 1
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24) || '시간 전'
				
				ELSE TO_CHAR(WRITE_DATE, 'YYYY-MM-DD') 
			END AS WRITE_DATE,
			]]>
			TO_CHAR(RECRUITMENT_DEADLINE, 'YYYY/MM/DD') AS RECRUITMENT_DEADLINE,
			RECRUIT_COMPLETE_FL
		FROM RECRUITMENT r 
		JOIN EMPLOYER e ON(r.EMPLOYER_NO = e.EMPLOYER_NO)
		WHERE RECRUITMENT_DEL_FL = 'N'
			AND r.MEMBER_NO = ${memberNo}
			<choose>
				<when test='key == "t"'>
				AND RECRUITMENT_TITLE LIKE '%' || #{query} || '%'
				</when>
				
				<when test='key == "n"'>
				AND e.BUSINESS_NICKNAME LIKE '%' || #{query} || '%'
				</when>
				
				<otherwise>
				AND (
					RECRUITMENT_TITLE LIKE '%' || #{query} || '%'
					OR
					e.BUSINESS_NICKNAME LIKE '%' || #{query} || '%'
				)
				</otherwise>
			</choose>
		ORDER BY RECRUITMENT_NO DESC
	</select>
	
	<!-- 구인완료여부 변경 (내가 쓴 공고 페이지 내) -->
	<update id="changeRecruitComplete">
		UPDATE RECRUITMENT
		SET RECRUIT_COMPLETE_FL = #{complete}
		WHERE RECRUITMENT_NO = ${recruitmentNo}
	</update>

<!-- 내가 쓴 글 페이지 관련 -->
	<!-- 내가 쓴 글 목록 불러오기 -->
	<select id="viewMyBoard">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_WRITE_DATE, BOARD_READ_COUNT, BOARD_CODE
		FROM "BOARD"
		WHERE MEMBER_NO = #{memberNo}
			AND BOARD_DEL_FL = 'N'
		ORDER BY BOARD_NO DESC
	</select>



<!-- 사업장 추가 페이지 관련 -->
	<!-- 대분류 리스트 얻어오기 -->
	<select id="selectMajorCategory">
		SELECT SUBSTR(WORKTYPE_NO, 1, 2) AS "workTypeNo", 
			WORKTYPE_CATEGORY AS "majorCategoryName"
		FROM EMPLOYER_WORKTYPE
		WHERE WORKTYPE_NO LIKE '__00'
	</select>

	<!-- workType 가 일치한 소분류 업직종 불러오기 -->
	<select id="selectsubCategoryList">
		SELECT WORKTYPE_NO AS "workTypeNo", WORKTYPE_CATEGORY AS "worktypeCategory"
		FROM EMPLOYER_WORKTYPE
		WHERE WORKTYPE_NO LIKE #{workTypeNo}||'__'
			AND WORKTYPE_NO NOT LIKE '__00'
	</select>
	
	<!-- 사업장 지점명 중복검사 -->
	<select id="checkBusinessNickname">
		SELECT COUNT(*)
		FROM "EMPLOYER"
		WHERE MEMBER_NO = ${memberNo}
			AND BUSINESS_NICKNAME = #{businessNickname}
	</select>
	
	<!-- 사업장 전화번호 중복검사 -->
	<select id="checkBusinessTel">
		SELECT COUNT(*)
		FROM "EMPLOYER"
		WHERE MEMBER_NO = ${memberNo}
			AND BUSINESS_TEL = #{businessTel}
	</select>
	
	<!-- 사업장 추가(업직종 제외) -->
	<insert id="addBusiness">
		INSERT INTO "EMPLOYER"
		VALUES(SEQ_EMPLOYER_NO.NEXTVAL, #{businessRegistrationNumber}, #{businessName}, #{businessAddress},
			${memberNo}, #{optionalAgreeFl}, #{businessNickname}, #{businessTel}, DEFAULT)
		<selectKey resultType="_int" keyProperty="employerNo" order="AFTER">
			SELECT SEQ_EMPLOYER_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<!-- 카테고리에 맞는 worktypeNo 얻어오기 -->
	<select id="getWorktypeNo">
		SELECT WORKTYPE_NO
		FROM EMPLOYER_WORKTYPE
		WHERE WORKTYPE_CATEGORY = #{category}
	</select>
	
	<!-- M:N 해소테이블(BUSINESS_WORKTYPE)에 데이터 삽입 -->
	<insert id="addBusinessWorktype">
		INSERT INTO "BUSINESS_WORKTYPE"
		VALUES(SEQ_BUSINESS_WORKTYPE_NO.NEXTVAL, ${employerNo}, #{worktypeNo})
	</insert>
	
	<!-- 사업장 이미지 모두 삽입 -->
	<insert id="insertUploadList" parameterType="list">
		INSERT INTO "BUSINESS_IMG" 
		<foreach collection="list" item="img" open="(" close=")" separator=" UNION ">
			SELECT NEXT_BUSINESS_IMG_NO(), #{img.businessImgPath}, #{img.businessImgOriginalName},
				#{img.businessImgRename}, ${img.businessImgOrder}, ${img.employerNo}
			FROM DUAL
		</foreach>
	</insert>


<!-- 사업장 수정 페이지 관련 -->
	<!-- 사업장 이미지정보 얻어오기 -->
	<select id="getBusinessImgList">
		SELECT *
		FROM "BUSINESS_IMG"
		WHERE EMPLOYER_NO = ${employerNo}
		ORDER BY BUSINESS_IMG_ORDER
	</select>
	
	<!-- 사업장 수정 (EMPLOYER TABLE 만) -->
	<update id="updateBusiness">
		UPDATE "EMPLOYER"
		SET BUSINESS_NICKNAME = #{businessNickname},
			BUSINESS_TEL = #{businessTel},
			BUSINESS_ADDRESS = #{businessAddress}
		WHERE EMPLOYER_NO = ${employerNo}
	</update>
	
	<!-- 기존 사업장의 업직종 제거(BUSINESS_WORKTYPE TABLE) -->
	<delete id="deleteBusinessWorktype">
		DELETE FROM "BUSINESS_WORKTYPE"
		WHERE EMPLOYER_NO = ${employerNo}
	</delete>

	<!-- 원래 있던 이미지 삭제한 경우 BUSINESS_IMG 에서 삭제 -->
	<delete id="deleteImage">
		DELETE FROM "BUSINESS_IMG"
		WHERE BUSINESS_IMG_ORDER IN (${deleteOrderList})
			AND EMPLOYER_NO = ${employerNo}
	</delete>
	
	<!-- 기존 이미지가 있는 경우 BUSINESS_IMG TABLE에서 UPDATE  -->
	<update id="updateImage">
		UPDATE "BUSINESS_IMG"
		SET BUSINESS_IMG_ORIGINAL_NAME = #{businessImgOriginalName},
			BUSINESS_IMG_RENAME = #{businessImgRename}
		WHERE EMPLOYER_NO = ${employerNo}
			AND BUSINESS_IMG_ORDER = ${businessImgOrder}
	</update>
	
	<!-- 기존 이미지가 없는 경우 BUSINESS_IMG TABLE에 INSERT -->
	<insert id="insertImage">
		INSERT INTO "BUSINESS_IMG"
		VALUES (NEXT_BUSINESS_IMG_NO(), #{businessImgPath}, #{businessImgOriginalName},
			#{businessImgRename}, ${businessImgOrder}, ${employerNo})
	</insert>
	

<!-- 사업장 삭제 관련 -->
	<!-- 본점의 memberNo 얻어오기 -->
	<select id="getMemberNo">
		SELECT MEMBER_NO
		FROM EMPLOYER
		WHERE EMPLOYER_NO = ${employerNo}
	</select>
	
	<!-- 해당 사업장 삭제 -->
	<update id="deleteBusiness">
		UPDATE "EMPLOYER"
		SET BUSINESS_DEL_FL = 'Y'
		WHERE EMPLOYER_NO = ${employerNo}
	</update>
	

<!-- 사업장 홍보 페이지 관련 -->



<!-- 제출된 이력서 보기 페이지 관련 -->
	<!-- 무한스크롤 테스트용 공고에 제출된 이력서 조회 -->
	<select id="viewResumesList">
		SELECT rr.RECRUITMENT_NO, r1.MEMBER_NO,
			r1.RECRUITMENT_TITLE, r1.EMPLOYER_NO,
			e.BUSINESS_NICKNAME,
			wp1.PERIOD_NAME,
			wat.WORKCOND_ADDRESS_TYPE_INFO,
			rr.RESUME_NO,
			r2.RESUME_TITLE,
			wp2.PERIOD_NAME AS "HOPE_PERIOD_NAME" 
		FROM RECRUITMENT_RESUME rr
		LEFT JOIN RECRUITMENT r1 ON(rr.RECRUITMENT_NO = r1.RECRUITMENT_NO)
		LEFT JOIN EMPLOYER e ON(r1.EMPLOYER_NO = e.EMPLOYER_NO)
		LEFT JOIN WORKCOND_PERIOD wp1 ON (r1.PERIOD_NO = wp1.PERIOD_NO)
		LEFT JOIN WORKCOND_ADDRESS_TYPE wat ON (r1.WORKCOND_ADDRESS_TYPE_NO = wat.WORKCOND_ADDRESS_TYPE_NO)
		LEFT JOIN RESUME r2 ON(rr.RESUME_NO = r2.RESUME_NO)
		LEFT JOIN WORKCOND_PERIOD wp2 ON (r2.PERIOD_NO = wp2.PERIOD_NO)
		WHERE r1.MEMBER_NO = ${memberNo}
			AND RECRUITMENT_DEL_FL = 'N'
			AND BUSINESS_DEL_FL = 'N'
			AND RESUME_DEL_FL = 'N'
			AND RESUME_HIDE_FL = 'N'
		ORDER BY RECRUITMENT_NO DESC, EMPLOYER_NO ASC, RESUME_NO DESC
	</select>
	
	
	
	<!-- 고용주의 공고번호(recruitmentNo)리스트 얻어오기 -->
	<select id="getRecuritmentNoList">
		SELECT RECRUITMENT_NO
		FROM RECRUITMENT
		WHERE MEMBER_NO = ${memberNo}
	</select>
	
	<!-- 공고에 제출된 이력서번호(resumeNo) 리스트 얻어오기 -->
	<select id="getRusemeNoList">
		SELECT RESUME_NO
		FROM RECRUITMENT_RESUME
		WHERE RECRUITMENT_NO = ${recruitmentNo}
	</select>
	
	<!-- 공고목록에서 공고, 이력서 정보 얻어오기 (목록용) -->
	<select id="getResume">
		SELECT rr.RECRUITMENT_NO,
			r1.RECRUITMENT_TITLE, r1.EMPLOYER_NO, r1.RECRUITMENT_DEL_FL,
			e.BUSINESS_NICKNAME, e.BUSINESS_DEL_FL,
			wp1.PERIOD_NAME,
			wat.WORKCOND_ADDRESS_TYPE_INFO,
			rr.RESUME_NO,
			r2.RESUME_TITLE, r2.RESUME_DEL_FL, r2.RESUME_HIDE_FL,
			wp2.PERIOD_NAME AS "HOPE_PERIOD_NAME" 
		FROM RECRUITMENT_RESUME rr
		LEFT JOIN RECRUITMENT r1 ON(rr.RECRUITMENT_NO = r1.RECRUITMENT_NO)
		LEFT JOIN EMPLOYER e ON(r1.EMPLOYER_NO = e.EMPLOYER_NO)
		LEFT JOIN WORKCOND_PERIOD wp1 ON (r1.PERIOD_NO = wp1.PERIOD_NO)
		LEFT JOIN WORKCOND_ADDRESS_TYPE wat ON (r1.WORKCOND_ADDRESS_TYPE_NO = wat.WORKCOND_ADDRESS_TYPE_NO)
		LEFT JOIN RESUME r2 ON(rr.RESUME_NO = r2.RESUME_NO)
		LEFT JOIN WORKCOND_PERIOD wp2 ON (r2.PERIOD_NO = wp2.PERIOD_NO)
		WHERE rr.RECRUITMENT_NO = ${recruitmentNo}
			AND rr.RESUME_NO = ${resumeNo}
	</select>
	
	<!-- 공고목록에서 경력 있는 지 여부 확인 -->
	<select id="trueCareer">
		SELECT COUNT(*)
		FROM RESUME_CAREER
		WHERE RESUME_NO = ${resumeNo}
	</select>
	
	<!-- 해당 공고에 제출된 이력서 보기 (모달 내 상세보기용) -->
	<select id="viewRecruitResume">
		SELECT rr.RECRUITMENT_NO,
			r1.EMPLOYER_NO,	r1.RECRUITMENT_TITLE,  
			e.BUSINESS_NICKNAME, e.BUSINESS_TEL,
			j1.JOBTYPE_NAME,
			s1.SALARY_NAME,
			r1.SALARY_MOUNT,
			wp1.PERIOD_NAME,
			g1.GRADE_NAME,
			wd1.DAYS_NAME,
			wt1.TIME_NAME,
			wat.WORKCOND_ADDRESS_TYPE_INFO,
			rr.RESUME_NO, r2.WORKER_NO,
			w.WORKER_MBTI, w.WORKER_ADDRESS,
			m2.MEMBER_TEL, m2.MEMBER_EMAIL, 
			r2.RESUME_TITLE,
			s2.SALARY_NAME AS "HOPE_SALARY_NAME",
			r2.SALARY_AMOUNT AS "HOPE_SALARY_AMOUNT",
			wp2.PERIOD_NAME AS "HOPE_PERIOD_NAME",
			g2.GRADE_NAME,
			r2.RESUME_CONTENT 
		FROM RECRUITMENT_RESUME rr
		LEFT JOIN RECRUITMENT r1 ON(rr.RECRUITMENT_NO = r1.RECRUITMENT_NO)
		LEFT JOIN EMPLOYER e ON(r1.EMPLOYER_NO = e.EMPLOYER_NO)
		LEFT JOIN JOBTYPE j1 ON(r1.JOBTYPE_NO = j1.JOBTYPE_NO)
		LEFT JOIN SALARY s1 ON(r1.SALARY_NO = s1.SALARY_NO)
		LEFT JOIN WORKCOND_PERIOD wp1 ON (r1.PERIOD_NO = wp1.PERIOD_NO)
		LEFT JOIN GRADE g1 ON (r1.GRADE_NO = g1.GRADE_NO)
		LEFT JOIN WORKCOND_DAYS wd1 ON(r1.DAYS_NO = wd1.DAYS_NO) 
		LEFT JOIN WORKCOND_TIME wt1 ON(r1.TIME_NO = wt1.TIME_NO)
		LEFT JOIN WORKCOND_ADDRESS_TYPE wat ON (r1.WORKCOND_ADDRESS_TYPE_NO = wat.WORKCOND_ADDRESS_TYPE_NO)
		LEFT JOIN RESUME r2 ON(rr.RESUME_NO = r2.RESUME_NO)
		LEFT JOIN WORKER w ON(r2.WORKER_NO = w.WORKER_NO)
		LEFT JOIN "MEMBER" m2 ON(w.MEMBER_NO = m2.MEMBER_NO)
		LEFT JOIN SALARY s2 ON(r2.SALARY_NO = s2.SALARY_NO)
		LEFT JOIN WORKCOND_PERIOD wp2 ON (r2.PERIOD_NO = wp2.PERIOD_NO)
		LEFT JOIN GRADE g2 ON(r2.GRADE_NO = g2.GRADE_NO) 
		WHERE rr.RECRUITMENT_NO = ${recruitmentNo}
			AND rr.RESUME_NO = ${resumeNo}
	</select>
	
	<!-- 사업장의 업직종 리스트 얻어오기 -->
	<select id="getRecruitmentWorktypeList">
		SELECT bw.BUSINESS_WORKTYPE_NO,  ew.WORKTYPE_CATEGORY 
		FROM BUSINESS_WORKTYPE bw
		LEFT JOIN EMPLOYER_WORKTYPE ew ON (bw.WORKTYPE_NO = ew.WORKTYPE_NO)
		LEFT JOIN EMPLOYER e ON(bw.EMPLOYER_NO = e.EMPLOYER_NO)
		LEFT JOIN RECRUITMENT r ON (e.EMPLOYER_NO = r.EMPLOYER_NO)
		WHERE RECRUITMENT_NO = ${recruitmentNo}
	</select>
	
	<!-- 알바생의 희망 고용형태 리스트 얻어오기 -->
	<select id="getResumeJobtypeList">
		SELECT j.JOBTYPE_NAME 
		FROM RESUME_JOB_TYPE rjt
		LEFT JOIN JOBTYPE j ON (rjt.JOBTYPE_NO = j.JOBTYPE_NO)
		WHERE RESUME_NO = ${resumeNo}
	</select>
	
	<!-- 알바생의 희망 요일시간 리스트 얻어오기 -->
	<select id="getHopeDaysTimeList">
		SELECT rd.RESUME_NO, wd.DAYS_NAME, wt.TIME_NAME 
		FROM RESUME_DAYSTIME rd 
		LEFT JOIN WORKCOND_DAYS wd ON (rd.DAYS_NO = wd.DAYS_NO)
		LEFT JOIN WORKCOND_TIME wt ON (rd.TIME_NO = wt.TIME_NO)
		WHERE RESUME_NO = ${resumeNo}
	</select>
	
	<!-- 알바생의 희망 근무지역 리스트 얻어오기 -->
	<select id="getHopeAddressList">
		SELECT wat.WORKCOND_ADDRESS_TYPE_INFO 
		FROM RESUME_ADDRESS ra 
		LEFT JOIN WORKCOND_ADDRESS_TYPE wat ON (ra.WORKCOND_ADDRESS_TYPE_NO = wat.WORKCOND_ADDRESS_TYPE_NO)
		WHERE RESUME_NO = ${resumeNo}
	</select>
	
	<!-- 알바생의 희망 업직종 리스트 얻어오기 -->
	<select id="getHopeWorkTypeList">
		SELECT ew.WORKTYPE_CATEGORY 
		FROM RESUME_WORKTYPE rw 
		LEFT JOIN EMPLOYER_WORKTYPE ew ON (rw.WORKTYPE_NO = ew.WORKTYPE_NO)
		WHERE RESUME_NO = ${resumeNo}
	</select>
	
	<!-- 알바의 경력사항 리스트 얻어오기 -->
	<select id="getCareerInfoList">
		SELECT rc.CAREER_NO, ci.COMPANY_NAME,
			TO_CHAR(START_DATE, 'YYYY/MM/DD') AS START_DATE,
			TO_CHAR(END_DATE, 'YYYY/MM/DD') AS END_DATE
		FROM RESUME_CAREER rc
		LEFT JOIN CAREER_INFO ci ON (rc.CAREER_NO = ci.CAREER_NO)
		WHERE RESUME_NO = ${resumeNo}
	</select>


<!-- 회원 탈퇴 페이지 관련 -->

	

	

</mapper>
