<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobbuilder.project.myPageEmployer.model.mapper.MyPageEmployerMapper">

	<!-- 고용주 1명의 사업장 리스트 얻어오기 -->
	<select id="selectBusinessList">
	SELECT EMPLOYER_NO, BUSINESS_NICKNAME, BUSINESS_ADDRESS, BUSINESS_TEL
	FROM "EMPLOYER"
	WHERE MEMBER_NO = ${memberNo}
	</select>
	
	<!-- 사업장 1개마다 업직종 얻어오기 -->
	<select id="selectWorktype">
	SELECT BUSINESS_WORKTYPE_NO, WORKTYPE_CATEGORY, EMPLOYER_NO 
	FROM BUSINESS_WORKTYPE b
	JOIN EMPLOYER_WORKTYPE ew ON (b.WORKTYPE_NO = ew.WORKTYPE_NO)
	WHERE EMPLOYER_NO = ${employerNo}
	</select>
	
	<!-- 사업장 1개마다 이미지 얻어오기 -->
	<select id="selectImage">
	SELECT *
	FROM "BUSINESS_IMG"
	WHERE EMPLOYER_NO = ${employerNo}
	</select>
	
	<!-- 대분류 리스트 얻어오기 -->
	<select id="selectMajorCategory">
	SELECT SUBSTR(WORKTYPE_NO, 1, 2) AS "workTypeNo", 
		SUBSTR(WORKTYPE_CATEGORY, 1, INSTR(WORKTYPE_CATEGORY, '전체')-2) AS "majorCategoryName"
	FROM EMPLOYER_WORKTYPE
	WHERE WORKTYPE_NO LIKE '__00'
	</select>

	<!-- workType 가 일치한 소분류 업직종 불러오기 -->
	<select id="selectsubCategoryList">
	SELECT WORKTYPE_NO AS "workTypeNo", WORKTYPE_CATEGORY AS "worktypeCategory"
	FROM EMPLOYER_WORKTYPE
	WHERE WORKTYPE_NO LIKE #{workTypeNo}||'__'
		AND WORKTYPE_NO NOT LIKE '__00'
	</select>
	
	<!-- 사업장 정보 얻어오기 -->
	<select id="getBusiness">
	SELECT EMPLOYER_NO, BUSINESS_NICKNAME, BUSINESS_ADDRESS, BUSINESS_TEL, MEMBER_NO
	FROM "EMPLOYER"
	WHERE EMPLOYER_NO = ${employerNo}
	</select>
	
	<!-- 사업장의 업직종 얻어오기 -->
	<select id="getBusinessWorktype">
	SELECT BUSINESS_WORKTYPE_NO, bw.WORKTYPE_NO, WORKTYPE_CATEGORY
	FROM BUSINESS_WORKTYPE bw
	JOIN EMPLOYER_WORKTYPE ew ON(bw.WORKTYPE_NO = ew.WORKTYPE_NO)
	WHERE EMPLOYER_NO = ${employerNo}
	</select>
</mapper>
