<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobbuilder.project.board.model.mapper.OneTalkMapper">

<!--  한줄톡 목록 조회  -->
<select id="selectOneTalkList">
SELECT LEVEL, 
       C.ONETALK_NO, 
       C.ONETALK_CONTENT, 
       C.ONETALK_DEL_FL,
       C.ONETALK_WRITE_DATE,
       C.MEMBER_NO, 
       C.WORKER_NICKNAME, 
       C.MEMBER_NAME, 
       C.PARENT_ONETALK_NO
FROM (
    SELECT DISTINCT 
           ONETALK_NO, 
           ONETALK_CONTENT, 
           ONETALK_DEL_FL,
           <![CDATA[
           
           CASE
               WHEN SYSDATE - ONETALK_WRITE_DATE < 1/24/60 
               THEN FLOOR((SYSDATE - ONETALK_WRITE_DATE) * 24 * 60 * 60) || '초 전'
               WHEN SYSDATE - ONETALK_WRITE_DATE < 1/24 
               THEN FLOOR((SYSDATE - ONETALK_WRITE_DATE) * 24 * 60) || '분 전'
               WHEN SYSDATE - ONETALK_WRITE_DATE < 1 
               THEN FLOOR((SYSDATE - ONETALK_WRITE_DATE) * 24) || '시간 전'
               ELSE TO_CHAR(ONETALK_WRITE_DATE, 'YYYY-MM-DD')
           END ONETALK_WRITE_DATE,
           ]]>
           MEMBER_NO, 
           WORKER_NICKNAME, 
           MEMBER_NAME, 
           PARENT_ONETALK_NO
    FROM "ONETALK"
    LEFT JOIN "MEMBER" USING(MEMBER_NO)
    LEFT JOIN "WORKER" USING(MEMBER_NO)
    LEFT JOIN "EMPLOYER" USING(MEMBER_NO)
) C
WHERE (ONETALK_DEL_FL = 'N'
       OR 0 != (SELECT COUNT(*)
                FROM "ONETALK" SUB
                WHERE SUB.PARENT_ONETALK_NO = C.ONETALK_NO
                AND ONETALK_DEL_FL = 'N'))
START WITH PARENT_ONETALK_NO IS NULL
CONNECT BY PRIOR ONETALK_NO = PARENT_ONETALK_NO
ORDER SIBLINGS BY ONETALK_NO DESC
</select>

<!--  한줄톡 개수 조회  -->
<select id="getListCount">
SELECT COUNT(*) FROM "ONETALK"
WHERE ONETALK_DEL_FL = 'N'
</select>

<!--  한줄 톡톡 댓글 등록  -->
<insert id="insert">
INSERT INTO "ONETALK"	                  
		VALUES( SEQ_ONETALK_NO.NEXTVAL, #{oneTalkContent},
			  DEFAULT, DEFAULT, 			  
			  <!-- 자식 댓글 -->
			  <if test="parentOneTalkNo != 0">
			  	#{parentOneTalkNo}
			  </if>			  
			  <!-- 부모 댓글 -->
			  <if test="parentOneTalkNo == 0">
			  	NULL
			  </if>
			  , #{memberNo}
		)
</insert>
<update id="delete">
		UPDATE "ONETALK" SET
		ONETALK_DEL_FL = 'Y'
		WHERE ONETALK_NO = #{oneTalkNo}
	</update>
		
	<!-- 댓글 수정 -->
	<update id="update">
		UPDATE "ONETALK" SET
		ONETALK_CONTENT = #{oneTalkContent}
		WHERE ONETALK_NO = #{oneTalkNo}
	</update>
	
	
	
</mapper>