<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobbuilder.project.board.model.mapper.OneTalkMapper">

<!--  한줄톡 목록 조회  -->
<select id="selectOneTalkList">
SELECT LEVEL, C.* FROM
			(SELECT ONETALK_NO, ONETALK_CONTENT,
			    TO_CHAR(ONETALK_WRITE_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') COMMENT_WRITE_DATE_BOARD,
			    MEMBER_NO, MEMBER_NAME, PARENT_ONETALK_NO, ONETALK_DEL_FL
			FROM "ONETALK"			
			LEFT JOIN "MEMBER" USING(MEMBER_NO)
			LEFT JOIN "WORKER" USING(MEMBER_NO)
			LEFT JOIN "EMPLOYER" USING(MEMBER_NO)
			) C
		WHERE ONETALK_DEL_FL = 'N'
		OR 0 != (SELECT COUNT(*) FROM "COMMENT_BOARD" SUB
						WHERE SUB.PARENT_COMMENT_NO = C.ONETALK_NO
						AND COMMENT_DEL_FL_BOARD = 'N')
		START WITH PARENT_ONETALK_NO IS NULL
		CONNECT BY PRIOR ONETALK_NO = PARENT_ONETALK_NO
		ORDER SIBLINGS BY ONETALK_NO
</select>

<!--  한줄톡 개수 조회  -->
<select id="getListCount">
SELECT COUNT(*) FROM "ONETALK"
WHERE ONETALK_DEL_FL = 'N'
</select>

</mapper>