<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobbuilder.project.payment.model.mapper.PaymentMapper">

	<resultMap id="membershipResultMap" type="Membership">
	    <result property="employerNo" column="EMPLOYER_NO"/>
	    <result property="membershipNo" column="MEMBERSHIP_NO"/>
	    <result property="membershipType" column="MEMBERSHIP_TYPE"/>
	    <result property="membershipStartDate" column="MEMBERSHIP_START_DATE"/>
	    <result property="membershipEndDate" column="MEMBERSHIP_END_DATE"/>
	    <result property="remainingDays" column="REMAINING_DAYS"/>
	    <result property="membershipName" column="MEMBERSHIP_NAME"/>
	    <result property="membershipDelFl" column="MEMBERSHIP_DEL_FL"/>
	    <result property="businessName" column="BUSINESS_NAME"/>
	</resultMap>
	
	<select id="getEmployerNo" resultMap="membershipResultMap">
	   SELECT BUSINESS_NAME,EMPLOYER_NO
	   FROM EMPLOYER
	   WHERE MEMBER_NO = #{memberNo}
	   AND BUSINESS_DEL_FL ='N'
	</select>
	
	
	
	<!-- employerNo로 맴버십 조회 -->
	<select id="selectMembershipDetails" resultMap="membershipResultMap">
	    SELECT 
	        A.EMPLOYER_NO AS EMPLOYER_NO,
	        B.MEMBERSHIP_NO AS MEMBERSHIP_NO,
	        B.MEMBERSHIP_TYPE AS MEMBERSHIP_TYPE,
	        B.MEMBERSHIP_START_DATE AS MEMBERSHIP_START_DATE,
	        B.MEMBERSHIP_END_DATE AS MEMBERSHIP_END_DATE,
	       B.MEMBERSHIP_DEL_FL AS MEMBERSHIP_DEL_FL,
	        (TRUNC(B.MEMBERSHIP_END_DATE) - TRUNC(B.MEMBERSHIP_START_DATE)) AS REMAINING_DAYS,
	        (SELECT C.MEMBERSHIP_NAME
	            FROM MEMBERSHIP_LEVEL C
	            WHERE C.MEMBERSHIP_NO = B.MEMBERSHIP_TYPE) AS MEMBERSHIP_NAME
	    FROM EMPLOYER A
	    JOIN MEMBERSHIP B ON A.EMPLOYER_NO = B.EMPLOYER_NO
	    WHERE A.EMPLOYER_NO = #{employerNo}
	    AND B.MEMBERSHIP_DEL_FL = 'N'
	</select>


	<select id="getPaymentList" parameterType="int" resultType="com.jobbuilder.project.payment.model.dto.Payment">
		SELECT *
		FROM (
		    SELECT DISTINCT
		        TO_CHAR(C.PAYMENT_DATE, 'YYYY-MM-DD HH24:MI:SS') AS PAYMENT_DATE,
		        C.PAYMENT_NO AS PAYMENT_NO,
		        C.PAYMENT_PRODUCT AS PAYMENT_PRODUCT,
		        C.PAYMENT_AMOUNT AS PAYMENT_AMOUNT,
		        C.PAYMENT_STATUS AS PAYMENT_STATUS,
		        D.PAYMENT_TYPE_AMOUNT AS PAYMENT_TYPE_AMOUNT,
		        D.PAYMENT_TYPE_PRODUCT AS PAYMENT_TYPE_PRODUCT,
		        TO_CHAR(D.PAYMENT_TYPE_CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS PAYMENT_TYPE_CREATE_DATE
		    FROM 
		        EMPLOYER E
		    JOIN 
		        MEMBERSHIP A ON E.EMPLOYER_NO = A.EMPLOYER_NO
		    JOIN 
		        PAYMENT_MEMBERSHIP B ON A.MEMBERSHIP_NO = B.MEMBERSHIP_NO
		    JOIN 
		        PAYMENT C ON B.PAYMENT_NO = C.PAYMENT_NO
		    JOIN 
		        PAYMENT_TYPE D ON C.PAYMENT_NO = D.PAYMENT_NO
		    WHERE 
		        E.EMPLOYER_NO = #{employerNo}
		) T
		ORDER BY T.PAYMENT_DATE DESC
	</select>


	<!-- 결제 1단계 -->
	<insert id="savePayment" parameterType="com.jobbuilder.project.payment.model.dto.Payment">
        INSERT INTO PAYMENT (
            PAYMENT_NO,
            PAYMENT_DATE,
            PAYMENT_PRODUCT,
            PAYMENT_AMOUNT,
            PAYMENT_STATUS,
            MERCHANT_UID,
            IMP_UID
        ) VALUES (
            SEQ_PAYMENT_NO.NEXTVAL,
            SYSDATE,
            #{paymentProduct},
            #{paymentAmount},
            #{paymentStatus},
            #{merchantUid},
            #{impUid}
        )
	                    
	     <!-- 방금 삽입된 PAYMENT_NO를 가져오기 -->
	    <selectKey resultType="int" keyProperty="paymentNo" order="AFTER">
	        SELECT SEQ_PAYMENT_NO.CURRVAL FROM DUAL
	    </selectKey>
	</insert>

	<!-- 결제 2-1단계 -->
	<insert id="connectionPayment" parameterType="com.jobbuilder.project.payment.model.dto.Payment">
        INSERT INTO PAYMENT_MEMBERSHIP (
            PAYMENT_MEMBERSHIP_NO,
            MEMBERSHIP_NO,
            PAYMENT_NO,
            PAYMENT_MEMBERSHIP_CREATE_DATE
        ) VALUES (
            SEQ_PAYMENT_MEMBERSHIP_NO.NEXTVAL,
            #{membershipNo}, 
            #{paymentNo},
            SYSDATE
        )
	</insert>
	
	<!-- 결제 2-2단계 -->
	<insert id="connectionPaymentType" parameterType="com.jobbuilder.project.payment.model.dto.Payment">
        INSERT INTO PAYMENT_TYPE (
            PAYMENT_TYPE_NO,
            PAYMENT_TYPE_AMOUNT,
            PAYMENT_TYPE_PRODUCT,
            PAYMENT_TYPE_COUNT,
            PAYMENT_TYPE_CREATE_DATE,
            PAYMENT_NO
        ) VALUES (
            SEQ_PAYMENT_TYPE_NO.NEXTVAL,
            #{membershipAmount}, 
            #{membershipProduct},
            #{membershipDateValue},
            SYSDATE,
            #{paymentNo}
        )
	</insert>
	
	<!-- 결제 2-3단계 -->
	<update id="updateMembership" parameterType="com.jobbuilder.project.payment.model.dto.Membership">
		UPDATE MEMBERSHIP SET 
		MEMBERSHIP_END_DATE = 
			NVL(MEMBERSHIP_END_DATE, SYSDATE) + 
		        CASE 
		            WHEN #{durationUnit} = 'MONTH' THEN 30 * #{membershipDateValue}
		            WHEN #{durationUnit} = 'DAY' THEN #{membershipDateValue}
		        END,
		MEMBERSHIP_DEL_FL = 'N',
		EMPLOYER_NO = #{employerNo},
		MEMBERSHIP_BUY_DATE = SYSDATE
		WHERE MEMBERSHIP_NO = #{membershipNo}
		AND MEMBERSHIP_TYPE = #{membershipType}
	</update>

	<!-- 결제 2-4단계 공존 확인 -->
	<select id="getMembershipUpgradeCount" resultType="int">
    SELECT COUNT(*)
    FROM MEMBERSHIP
    WHERE MEMBERSHIP_DEL_FL = 'N'
      AND EMPLOYER_NO = #{employerNo}
      AND (MEMBERSHIP_TYPE = 2 OR MEMBERSHIP_TYPE = 3)
	</select>
	
	<!-- 비활성화 처리 -->
	<update id="updateOldMemberships">
    UPDATE MEMBERSHIP
    SET MEMBERSHIP_DEL_FL = 'Y'
    WHERE MEMBERSHIP_DEL_FL = 'N'
      AND EMPLOYER_NO = #{employerNo}
      AND MEMBERSHIP_TYPE = 2
	</update>
	
	

	<!-- 결제 3단계 -->
	<insert id="newMembership" parameterType="com.jobbuilder.project.payment.model.dto.Membership">
	    INSERT INTO MEMBERSHIP (
		    MEMBERSHIP_NO,
		    MEMBERSHIP_TYPE,
		    MEMBERSHIP_START_DATE,
		    MEMBERSHIP_END_DATE,
		    MEMBERSHIP_BUY_DATE,
		    MEMBERSHIP_DEL_FL,
		    EMPLOYER_NO
		) VALUES (
		    SEQ_MEMBERSHIP_NO.NEXTVAL, 
		    #{membershipType}, 
		    SYSDATE,
		    NVL(( 
		        SELECT MEMBERSHIP_END_DATE
		        FROM MEMBERSHIP
		        WHERE EMPLOYER_NO = #{employerNo}
		          AND MEMBERSHIP_TYPE = 2
		          AND MEMBERSHIP_DEL_FL = 'N'
		    ), SYSDATE) + 
		    CASE
		        WHEN #{durationUnit} = 'MONTH' THEN 30 * #{membershipDateValue}
		        WHEN #{durationUnit} = 'DAY' THEN #{membershipDateValue}
		    END,
		    SYSDATE,
		    'N', 
		    #{employerNo}
		)

    <!-- 방금 삽입된 MEMBERSHIP_NO를 가져오기 -->
    <selectKey resultType="int" keyProperty="membershipNo" order="AFTER">
        SELECT SEQ_MEMBERSHIP_NO.CURRVAL FROM DUAL
    </selectKey>
	</insert>




	<!-- 조회 및 환불 관련 나중에 옮길거 -->








    
</mapper>
