<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobbuilder.project.resume.model.mapper.RecommendMapper">
	
	<!-- 추천 이력서 가져오기 -->
	<select id="revommendResumeList" resultType="java.util.Map">
		WITH
			BASE_DATA AS 
			
			(
				SELECT
					
							RC.RECRUITMENT_NO AS RC_ID,
							R_ID,
							DECODE(RC.SALARY_NO, 1, 1, 2, 2, 3, 1, 4, 2) AS RC_SALARY_NO,
							R_SALARY_NO,
							RC.SALARY_MOUNT AS RC_SALARY_MOUNT,
							R_SALARY_AMOUNT,
							RC.GRADE_NO AS RC_GRADE_NO,
							R_GRADE_NO,
							RC.PERIOD_NO AS RC_PERIOD_NO,
							R_PERIOD_NO,
							RC.DAYS_NO AS RC_DAYS,
							R_DAYS,
							RC.TIME_NO AS RC_TIME,
							R_TIME, 
							RC.JOBTYPE_NO AS RC_JOBTYPE_NO,
							R_JOBTYPE_NO,
							RC.WORKCOND_ADDRESS_TYPE_NO AS RC_WORKCOND_ADDRESS_TYPE_NO,
							R_WORKCOND_ADDRESS_TYPE_NO
							
						FROM RECRUITMENT RC
						LEFT JOIN "MEMBER" M ON(M.MEMBER_NO = RC.MEMBER_NO)
						CROSS JOIN 
						
							(
								SELECT 
									
									R.RESUME_NO R_ID,
									DECODE(R.SALARY_NO, 1, 1, 2, 2, 3, 1, 4, 2) AS R_SALARY_NO,
									R.SALARY_AMOUNT AS R_SALARY_AMOUNT,
									R.GRADE_NO AS R_GRADE_NO,
									R.PERIOD_NO AS R_PERIOD_NO,
									RD.DAYS_NO  AS R_DAYS,
									RD.TIME_NO AS R_TIME, 
									J.JOBTYPE_NO AS R_JOBTYPE_NO,
									WA.WORKCOND_ADDRESS_TYPE_NO AS R_WORKCOND_ADDRESS_TYPE_NO
									
								FROM RESUME R
								LEFT JOIN RESUME_DAYSTIME RD ON (R.RESUME_NO = RD.RESUME_NO)
								JOIN "WORKER" W ON (W.WORKER_NO = R.WORKER_NO)
								LEFT JOIN "MEMBER" M ON(M.MEMBER_NO = W.MEMBER_NO)
								LEFT JOIN "RESUME_JOB_TYPE" J ON(J.RESUME_NO = R.RESUME_NO)
								LEFT JOIN RESUME_ADDRESS WA ON (R.RESUME_NO = WA.RESUME_NO)
								WHERE M.MEMBER_DEL_FL = 'N'
								AND R.RESUME_DEL_FL = 'N'
								AND R.RESUME_HIDE_FL = 'N'
								ORDER BY R.RESUME_NO DESC
					)
				
				WHERE  RC.MEMBER_NO = #{memberNo}
				AND RC.RECRUITMENT_DEL_FL = 'N'
				AND M.MEMBER_DEL_FL = 'N'
				ORDER BY RC.RECRUITMENT_NO DESC
			),
				
			MATCH_DAYS_TIME AS (
			    SELECT
			    	R_ID, RC_ID, RC_DAYS, R_DAYS, RC_TIME, R_TIME, (RC_DAYS + R_DAYS ) AS TEST, 
			        COUNT(CASE WHEN 
			        
			        	((RC_DAYS = R_DAYS) OR (RC_DAYS = 1) OR (R_DAYS = 1)) AND 
			        	((RC_TIME = R_TIME) OR (RC_TIME = 1) OR (R_TIME = 1))
			        	
			        THEN 1 END) AS MATCHED_DAY_COUNT
			    FROM (SELECT RC_ID, R_ID, RC_DAYS, R_DAYS, RC_TIME, R_TIME FROM BASE_DATA GROUP BY RC_ID, R_ID, RC_DAYS, R_DAYS, RC_TIME, R_TIME)
			    GROUP BY RC_ID, R_ID, RC_DAYS, R_DAYS, RC_TIME, R_TIME
			),
			
			MATCH_SDT AS (
				SELECT
			    	R_ID, RC_ID,
			        SUM(TO_NUMBER(MATCHED_DAY_COUNT) ) AS MATCHED_DT_SUM
			    FROM MATCH_DAYS_TIME
			    GROUP BY RC_ID, R_ID
			),
			
			MATCH_JOB AS (
			    SELECT
			    	R_ID, RC_ID,
			        COUNT(CASE WHEN RC_JOBTYPE_NO = R_JOBTYPE_NO THEN 1 END) AS MATCHED_JOB_COUNT
			    FROM (SELECT RC_ID, R_ID, RC_JOBTYPE_NO, R_JOBTYPE_NO FROM BASE_DATA GROUP BY RC_ID, R_ID, RC_JOBTYPE_NO, R_JOBTYPE_NO)
			    GROUP BY RC_ID, R_ID, RC_JOBTYPE_NO, R_JOBTYPE_NO
			),
			
			MATCH_SJ AS (
				SELECT
			    	R_ID, RC_ID,
			        SUM(TO_NUMBER(MATCHED_JOB_COUNT) ) AS MATCHED_JOB_SUM
			    FROM MATCH_JOB
			    GROUP BY RC_ID, R_ID
			),
			
			MATCH_ADDRESS AS (
			    SELECT
			    	R_ID, RC_ID,
			        COUNT(CASE WHEN RC_WORKCOND_ADDRESS_TYPE_NO = R_WORKCOND_ADDRESS_TYPE_NO THEN 1 END) AS MATCHED_ADDRESS_COUNT
			    FROM (SELECT RC_ID, R_ID, RC_WORKCOND_ADDRESS_TYPE_NO, R_WORKCOND_ADDRESS_TYPE_NO FROM BASE_DATA GROUP BY RC_ID, R_ID, RC_WORKCOND_ADDRESS_TYPE_NO, R_WORKCOND_ADDRESS_TYPE_NO)
			    GROUP BY RC_ID, R_ID, RC_WORKCOND_ADDRESS_TYPE_NO, R_WORKCOND_ADDRESS_TYPE_NO
			),
			
			MATCH_SADD AS (
				SELECT
			    	R_ID, RC_ID,
			        SUM(TO_NUMBER(MATCHED_ADDRESS_COUNT) ) AS MATCHED_ADD_SUM
			    FROM MATCH_ADDRESS
			    GROUP BY RC_ID, R_ID
			),
			
			COLUMN_MATCHES AS (
			    SELECT
			    	R_ID, RC_ID,
			        CASE WHEN (R_GRADE_NO = RC_GRADE_NO) OR (R_GRADE_NO = 1) OR (RC_GRADE_NO = 1) THEN 1 ELSE 0 END AS MATCH_GRADE,
			        CASE WHEN (R_PERIOD_NO = RC_PERIOD_NO)  OR (R_PERIOD_NO = 1) OR (RC_PERIOD_NO = 1)THEN 1 ELSE 0 END AS MATCH_PERIOD,
			        CASE WHEN R_SALARY_NO = RC_SALARY_NO AND R_SALARY_AMOUNT <![CDATA[ < ]]> RC_SALARY_MOUNT THEN 1 ELSE 0 END AS MATCH_SALARY
			    FROM 
			    	(SELECT 
			    		RC_ID, R_ID, R_SALARY_NO, RC_SALARY_NO, R_GRADE_NO, RC_GRADE_NO, R_PERIOD_NO, RC_PERIOD_NO , R_SALARY_AMOUNT, RC_SALARY_MOUNT
						FROM BASE_DATA GROUP BY RC_ID, R_ID, R_SALARY_NO, RC_SALARY_NO, R_GRADE_NO, RC_GRADE_NO, R_PERIOD_NO, RC_PERIOD_NO , R_SALARY_AMOUNT, RC_SALARY_MOUNT)
				GROUP BY RC_ID, R_ID, R_SALARY_NO, RC_SALARY_NO, R_GRADE_NO, RC_GRADE_NO, R_PERIOD_NO, RC_PERIOD_NO , R_SALARY_AMOUNT, RC_SALARY_MOUNT
			), 
			
			TOTAL_DATA AS (
				SELECT 
					MDT.RC_ID, MDT.R_ID
				FROM MATCH_SDT MDT
				JOIN MATCH_SJ MJ ON(MDT.R_ID = MJ.R_ID  AND MDT.RC_ID = MJ.RC_ID)
				JOIN MATCH_SADD MADD ON(MDT.R_ID = MADD.R_ID  AND MDT.RC_ID = MADD.RC_ID)
				JOIN COLUMN_MATCHES MM ON(MDT.R_ID = MM.R_ID  AND MDT.RC_ID = MM.RC_ID)
				WHERE (MM.MATCH_GRADE + MM.MATCH_PERIOD + MM.MATCH_SALARY + MJ.MATCHED_JOB_SUM + MDT.MATCHED_DT_SUM + MADD.MATCHED_ADD_SUM) >= 3
			
			)
			
			SELECT DISTINCT
			
				R.RESUME_NO AS "resumeNo", M.MEMBER_EMAIL AS "memberEmail", M.MEMBER_NAME AS "memberName", R.RESUME_TITLE AS "resumeTitle", W.PROFILE_IMG AS "profileImg", W.WORKER_MBTI AS "workerMbti",
				SUBSTR(M.MEMBER_TEL, 1, 3) || '-' || SUBSTR(M.MEMBER_TEL, 4, 4) || '-' || SUBSTR(M.MEMBER_TEL, 8, 4) "memberTel",
				SUBSTR(W.WORKER_ADDRESS, INSTR(W.WORKER_ADDRESS, '^^^') + 3, (INSTR(W.WORKER_ADDRESS, ' ', 1, 2) - (INSTR(W.WORKER_ADDRESS, '^^^') + 3))) "memberAddress",
				'만 ' || FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), W.WORKER_BIRTHDATE) / 12) || '세' AS "age",
				TO_CHAR(W.WORKER_BIRTHDATE, 'YYYY') || '년생' AS "workerBirthDate",
				
				LISTAGG(CI.COMPANY_NAME || '-' || CI.CAREER_DESCRIPTION || <![CDATA['&&&']]> ||
				CASE 
				    WHEN FLOOR(MONTHS_BETWEEN(NVL(END_DATE, SYSDATE), START_DATE) / 12) > 0 
				      AND TRUNC(MOD(MONTHS_BETWEEN(NVL(END_DATE, SYSDATE), START_DATE), 12)) > 0 THEN 
				        FLOOR(MONTHS_BETWEEN(NVL(END_DATE, SYSDATE), START_DATE) / 12) || '년 ' || 
				        TRUNC(MOD(MONTHS_BETWEEN(NVL(END_DATE, SYSDATE), START_DATE), 12)) || '개월'
				    WHEN FLOOR(MONTHS_BETWEEN(NVL(END_DATE, SYSDATE), START_DATE) / 12) > 0 THEN 
				        FLOOR(MONTHS_BETWEEN(NVL(END_DATE, SYSDATE), START_DATE) / 12) || '년 '
				    WHEN TRUNC(MOD(MONTHS_BETWEEN(NVL(END_DATE, SYSDATE), START_DATE), 12)) > 0 THEN 
				        TRUNC(MOD(MONTHS_BETWEEN(NVL(END_DATE, SYSDATE), START_DATE), 12)) || '개월'
				    ELSE '1개월 미만'
				END
			    , '^^^') WITHIN GROUP (ORDER BY CI.COMPANY_NAME || '-' || CI.CAREER_DESCRIPTION) OVER(PARTITION BY R.RESUME_NO)
				AS "carrerStr"
			
			FROM RESUME R
			LEFT JOIN WORKER W ON (R.WORKER_NO = W. WORKER_NO)
			JOIN "MEMBER" M ON (W.MEMBER_NO = M.MEMBER_NO)
			LEFT JOIN RESUME_CAREER RCA ON (R.RESUME_NO = RCA.RESUME_NO)
			LEFT JOIN CAREER_INFO CI ON (RCA.CAREER_NO = CI.CAREER_NO)
			
			WHERE R.RESUME_NO IN (SELECT  R_ID  
			FROM TOTAL_DATA 
			WHERE RC_ID = #{recruitmentNo})
			ORDER BY R.RESUME_NO DESC
	</select>
	
	<!-- 이력서 수 카운트-->
	<select id="getRecommendCount">
		WITH
			BASE_DATA AS 
			
			(
				SELECT
					
							RC.RECRUITMENT_NO AS RC_ID,
							R_ID,
							DECODE(RC.SALARY_NO, 1, 1, 2, 2, 3, 1, 4, 2) AS RC_SALARY_NO,
							R_SALARY_NO,
							RC.SALARY_MOUNT AS RC_SALARY_MOUNT,
							R_SALARY_AMOUNT,
							RC.GRADE_NO AS RC_GRADE_NO,
							R_GRADE_NO,
							RC.PERIOD_NO AS RC_PERIOD_NO,
							R_PERIOD_NO,
							RC.DAYS_NO AS RC_DAYS,
							R_DAYS,
							RC.TIME_NO AS RC_TIME,
							R_TIME, 
							RC.JOBTYPE_NO AS RC_JOBTYPE_NO,
							R_JOBTYPE_NO,
							RC.WORKCOND_ADDRESS_TYPE_NO AS RC_WORKCOND_ADDRESS_TYPE_NO,
							R_WORKCOND_ADDRESS_TYPE_NO
							
						FROM RECRUITMENT RC
						LEFT JOIN "MEMBER" M ON(M.MEMBER_NO = RC.MEMBER_NO)
						CROSS JOIN 
						
							(
								SELECT 
									
									R.RESUME_NO R_ID,
									DECODE(R.SALARY_NO, 1, 1, 2, 2, 3, 1, 4, 2) AS R_SALARY_NO,
									R.SALARY_AMOUNT AS R_SALARY_AMOUNT,
									R.GRADE_NO AS R_GRADE_NO,
									R.PERIOD_NO AS R_PERIOD_NO,
									RD.DAYS_NO  AS R_DAYS,
									RD.TIME_NO AS R_TIME, 
									J.JOBTYPE_NO AS R_JOBTYPE_NO,
									WA.WORKCOND_ADDRESS_TYPE_NO AS R_WORKCOND_ADDRESS_TYPE_NO
									
								FROM RESUME R
								LEFT JOIN RESUME_DAYSTIME RD ON (R.RESUME_NO = RD.RESUME_NO)
								JOIN "WORKER" W ON (W.WORKER_NO = R.WORKER_NO)
								LEFT JOIN "MEMBER" M ON(M.MEMBER_NO = W.MEMBER_NO)
								LEFT JOIN "RESUME_JOB_TYPE" J ON(J.RESUME_NO = R.RESUME_NO)
								LEFT JOIN RESUME_ADDRESS WA ON (R.RESUME_NO = WA.RESUME_NO)
								WHERE M.MEMBER_DEL_FL = 'N'
								AND R.RESUME_DEL_FL = 'N'
								AND R.RESUME_HIDE_FL = 'N'
								ORDER BY R.RESUME_NO DESC
					)
				
				WHERE  RC.MEMBER_NO = #{memberNo}
				AND RC.RECRUITMENT_DEL_FL = 'N'
				AND M.MEMBER_DEL_FL = 'N'
				ORDER BY RC.RECRUITMENT_NO DESC
			),
				
			MATCH_DAYS_TIME AS (
			    SELECT
			    	R_ID, RC_ID, RC_DAYS, R_DAYS, RC_TIME, R_TIME, (RC_DAYS + R_DAYS ) AS TEST, 
			        COUNT(CASE WHEN 
			        
			        	((RC_DAYS = R_DAYS) OR (RC_DAYS = 1) OR (R_DAYS = 1)) AND 
			        	((RC_TIME = R_TIME) OR (RC_TIME = 1) OR (R_TIME = 1))
			        	
			        THEN 1 END) AS MATCHED_DAY_COUNT
			    FROM (SELECT RC_ID, R_ID, RC_DAYS, R_DAYS, RC_TIME, R_TIME FROM BASE_DATA GROUP BY RC_ID, R_ID, RC_DAYS, R_DAYS, RC_TIME, R_TIME)
			    GROUP BY RC_ID, R_ID, RC_DAYS, R_DAYS, RC_TIME, R_TIME
			),
			
			MATCH_SDT AS (
				SELECT
			    	R_ID, RC_ID,
			        SUM(TO_NUMBER(MATCHED_DAY_COUNT) ) AS MATCHED_DT_SUM
			    FROM MATCH_DAYS_TIME
			    GROUP BY RC_ID, R_ID
			),
			
			MATCH_JOB AS (
			    SELECT
			    	R_ID, RC_ID,
			        COUNT(CASE WHEN RC_JOBTYPE_NO = R_JOBTYPE_NO THEN 1 END) AS MATCHED_JOB_COUNT
			    FROM (SELECT RC_ID, R_ID, RC_JOBTYPE_NO, R_JOBTYPE_NO FROM BASE_DATA GROUP BY RC_ID, R_ID, RC_JOBTYPE_NO, R_JOBTYPE_NO)
			    GROUP BY RC_ID, R_ID, RC_JOBTYPE_NO, R_JOBTYPE_NO
			),
			
			MATCH_SJ AS (
				SELECT
			    	R_ID, RC_ID,
			        SUM(TO_NUMBER(MATCHED_JOB_COUNT) ) AS MATCHED_JOB_SUM
			    FROM MATCH_JOB
			    GROUP BY RC_ID, R_ID
			),
			
			MATCH_ADDRESS AS (
			    SELECT
			    	R_ID, RC_ID,
			        COUNT(CASE WHEN RC_WORKCOND_ADDRESS_TYPE_NO = R_WORKCOND_ADDRESS_TYPE_NO THEN 1 END) AS MATCHED_ADDRESS_COUNT
			    FROM (SELECT RC_ID, R_ID, RC_WORKCOND_ADDRESS_TYPE_NO, R_WORKCOND_ADDRESS_TYPE_NO FROM BASE_DATA GROUP BY RC_ID, R_ID, RC_WORKCOND_ADDRESS_TYPE_NO, R_WORKCOND_ADDRESS_TYPE_NO)
			    GROUP BY RC_ID, R_ID, RC_WORKCOND_ADDRESS_TYPE_NO, R_WORKCOND_ADDRESS_TYPE_NO
			),
			
			MATCH_SADD AS (
				SELECT
			    	R_ID, RC_ID,
			        SUM(TO_NUMBER(MATCHED_ADDRESS_COUNT) ) AS MATCHED_ADD_SUM
			    FROM MATCH_ADDRESS
			    GROUP BY RC_ID, R_ID
			),
			
			COLUMN_MATCHES AS (
			    SELECT
			    	R_ID, RC_ID,
			        CASE WHEN (R_GRADE_NO = RC_GRADE_NO) OR (R_GRADE_NO = 1) OR (RC_GRADE_NO = 1) THEN 1 ELSE 0 END AS MATCH_GRADE,
			        CASE WHEN (R_PERIOD_NO = RC_PERIOD_NO)  OR (R_PERIOD_NO = 1) OR (RC_PERIOD_NO = 1)THEN 1 ELSE 0 END AS MATCH_PERIOD,
			        CASE WHEN R_SALARY_NO = RC_SALARY_NO AND R_SALARY_AMOUNT <![CDATA[ < ]]> RC_SALARY_MOUNT THEN 1 ELSE 0 END AS MATCH_SALARY
			    FROM 
			    	(SELECT 
			    		RC_ID, R_ID, R_SALARY_NO, RC_SALARY_NO, R_GRADE_NO, RC_GRADE_NO, R_PERIOD_NO, RC_PERIOD_NO , R_SALARY_AMOUNT, RC_SALARY_MOUNT
						FROM BASE_DATA GROUP BY RC_ID, R_ID, R_SALARY_NO, RC_SALARY_NO, R_GRADE_NO, RC_GRADE_NO, R_PERIOD_NO, RC_PERIOD_NO , R_SALARY_AMOUNT, RC_SALARY_MOUNT)
				GROUP BY RC_ID, R_ID, R_SALARY_NO, RC_SALARY_NO, R_GRADE_NO, RC_GRADE_NO, R_PERIOD_NO, RC_PERIOD_NO , R_SALARY_AMOUNT, RC_SALARY_MOUNT
			), 
			
			TOTAL_DATA AS (
				SELECT 
					MDT.RC_ID, MDT.R_ID
				FROM MATCH_SDT MDT
				JOIN MATCH_SJ MJ ON(MDT.R_ID = MJ.R_ID  AND MDT.RC_ID = MJ.RC_ID)
				JOIN MATCH_SADD MADD ON(MDT.R_ID = MADD.R_ID  AND MDT.RC_ID = MADD.RC_ID)
				JOIN COLUMN_MATCHES MM ON(MDT.R_ID = MM.R_ID  AND MDT.RC_ID = MM.RC_ID)
				WHERE (MM.MATCH_GRADE + MM.MATCH_PERIOD + MM.MATCH_SALARY + MJ.MATCHED_JOB_SUM + MDT.MATCHED_DT_SUM + MADD.MATCHED_ADD_SUM) >= 3
			
			)
			
			SELECT COUNT(R_ID) 
			FROM TOTAL_DATA 
			WHERE RC_ID = #{recruitmentNo}
			GROUP BY RC_ID
	</select>
</mapper>
