<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobbuilder.project.recruitment.model.mapper.RecruitmentMapper">
<!-- resultMap 영역 -->
	<!-- selectOne(공고 상세조회) -->
	<resultMap type="Recruitment" id="recruitment_rm">
		<id property="recruitmentNo" column="RECRUITMENT_NO"/>
		<collection property="preferredList" select="selectPreferredList" column="RECRUITMENT_NO"
			javaType="java.util.ArrayList" ofType="RecruitmentPreferred"/>
		<collection property="supportList" select="selectSupportList" column="RECRUITMENT_NO"
			javaType="java.util.ArrayList" ofType="RecruitmentSupport"/>
	</resultMap>

<!-- 공고 추가 페이지 이동 관련 -->
	<!-- 사업장 정보 얻어오기 -->
	<select id="selectBusinessList">
		SELECT EMPLOYER_NO, BUSINESS_NICKNAME
		FROM "EMPLOYER"
		WHERE MEMBER_NO = ${memberNo}
	</select>
	
	<!-- 선호조건 리스트 불러오기 -->
	<select id="selectPreferredList">
		SELECT PREFERRED_NO AS "preferredNo", PREFERRED_CATEGORY AS "preferredCategory"
		FROM "PREFERRED"
	</select>
	
	<!-- 복리후생 대분류 불러오기 -->
	<select id="selectSupportTitleList">
		SELECT SUBSTR(SUPPORT_NO, 1, 2) AS "supportNo", SUPPORT_CATEGORY AS "supportCategory"
		FROM "SUPPORT"
		WHERE SUPPORT_NO LIKE '__00'
	</select>
	
	<!-- 복리후생 소분류 불러오기 -->
	<select id="selectSubSupportList">
		SELECT SUPPORT_NO AS "supportNo", SUPPORT_CATEGORY AS "supportCategory"
		FROM "SUPPORT"
		WHERE SUPPORT_NO LIKE #{supportNo}||'__'
			AND SUPPORT_NO NOT LIKE '__00'
	</select>


<!-- 공고 추가(post) 관련 -->	
	<!-- 공고 추가 -->
	<insert id="insertRecruitment" useGeneratedKeys="true" parameterType="Recruitment">
		INSERT INTO "RECRUITMENT"
		VALUES(SEQ_RECRUITMENT_NO.NEXTVAL, #{recruitmentTitle}, #{recruitmentContent},
			TO_DATE(#{recruitmentDeadline}, 'YYYY-MM-DD'), ${jobtypeNo}, #{numOfRecruitmentName},
			${salaryNo}, ${gradeNo}, ${periodNo}, ${daysNo}, ${timeNo}, ${employerNo}, ${salaryMount},
			DEFAULT, NULL, DEFAULT, ${memberNo})
		<selectKey resultType="_int" keyProperty="recruitmentNo" order="AFTER">
			SELECT SEQ_RECRUITMENT_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<!-- 선택된 선호조건의 preferredNo 얻어 오기 -->
	<select id="selectPreferredNo">
		SELECT PREFERRED_NO
		FROM "PREFERRED"
		WHERE PREFERRED_CATEGORY = #{preferredCategory}
	</select>
	
	<!-- M:N 관계 해소(RECRUITMENT_PREFERRED) -->
	<insert id="insertRecruitmentPreferred">
		INSERT INTO "RECRUITMENT_PREFERRED"
		VALUES(SEQ_RECRUITMENT_PREFERRED_NO.NEXTVAL, ${recruitmentNo}, #{preferredNo})
	</insert>
	
	<!-- 선택된 복리후생 조건의 supportNo 얻어 오기 -->
	<select id="selectSupportNo">
		SELECT SUPPORT_NO
		FROM "SUPPORT"
		WHERE SUPPORT_CATEGORY = #{supportCategory}
	</select>
	
	<!-- M:N 관계 해소(RECRUITMENT_SUPPORT) -->
	<insert id="insertRecruitmentSupport">
		INSERT INTO "RECRUITMENT_SUPPORT"
		VALUES(SEQ_RECRUITMENT_SUPPORT_NO.NEXTVAL, #{supportNo}, ${recruitmentNo})
	</insert>
	
	
<!-- 공고글 목록 조회 관련 -->
	<!-- 전체 공고글 수 조회 -->
	<select id="getListCount">
		SELECT COUNT(*)
		FROM "RECRUITMENT"
		WHERE RECRUITMENT_DEL_FL = 'N'
	</select>
	
	<!-- 전체 공고글 목록 조회 -->
	<select id="selectRecruitmentList">
		SELECT RECRUITMENT_NO, RECRUITMENT_TITLE, BUSINESS_NAME, BUSINESS_ADDRESS, SALARY_NAME, SALARY_MOUNT, TIME_NAME,
			<![CDATA[
			CASE
				WHEN SYSDATE - WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60 * 60) || '초 전'
				
				WHEN SYSDATE - WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60) || '분 전'
				
				WHEN SYSDATE - WRITE_DATE < 1
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24) || '시간 전'
				
				ELSE TO_CHAR(WRITE_DATE, 'YYYY-MM-DD') 
			END AS WRITE_DATE,
			]]> 
			TO_CHAR(RECRUITMENT_DEADLINE, 'YYYY/MM/DD') AS RECRUITMENT_DEADLINE
		FROM RECRUITMENT r 
		JOIN EMPLOYER e ON (r.EMPLOYER_NO = e.EMPLOYER_NO)
		JOIN SALARY s ON(r.SALARY_NO = s.SALARY_NO)
		JOIN WORKCOND_TIME wt ON(r.TIME_NO = wt.TIME_NO)
		WHERE RECRUITMENT_DEL_FL = 'N'
		ORDER BY RECRUITMENT_NO DESC
	</select>

<!-- 공고 상세 페이지 이동 관련 -->
	<!-- 공고글 상세 조회 -->
	<select id="selectOne" resultMap="recruitment_rm">
		SELECT *
		FROM "RECRUITMENT"
		WHERE RECRUITMENT_DEL_FL = 'N'
			AND RECRUITMENT_NO = ${recruitmentNo}
	</select>
	
	<!-- 선호조건 조회(selectOne 관련) -->
	<select id="selectPreferredList" resultType="RecruitmentPreferred">
	
	</select>
	
	<!-- 복리후생 조회(selectOne 관련) -->
	<select id="selectSupportList" resultType="RecruitmentSupport">
	
	</select>
</mapper>
