<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobbuilder.project.refined.model.mapper.RefinedMapper">


	<resultMap id="refinedResultMap" type="Refined">
	    <result property="resumeNo" column="RESUME_NO"/>
	    <result property="resumeTitle" column="RESUME_TITLE"/>
	    <result property="resumeContent" column="RESUME_CONTENT"/>
	    <result property="workerNo" column="WORKER_NO"/>
	    <result property="gradeNo" column="GRADE_NO"/>
	    <result property="periodNo" column="PERIOD_NO"/>
	    <result property="salaryNo" column="SALARY_NO"/>
	    <result property="salaryAmount" column="SALARY_AMOUNT"/>
	    <result property="workcondAddressNo" column="WORKCOND_ADDRESS_NO"/>
	    <result property="registrationDate" column="REGISTRATION_DATE"/>
	    <result property="modificationDate" column="MODIFICATION_DATE"/>
	    <result property="resumeDelFl" column="RESUME_DEL_FL"/>
	    <result property="resumeHideFl" column="RESUME_HIDE_FL"/>
	    <result property="workcondAddressTypeNo" column="WORKCOND_ADDRESS_TYPE_NO"/>
	    <result property="workcondAddressTypeInfo" column="WORKCOND_ADDRESS_TYPE_INFO"/>
	    <result property="totalCareer" column="TOTAL_CAREER"/>
	    <result property="jobtypeName" column="JOBTYPE_NAME"/>
	</resultMap>

	<select id="getRecruitmentList" parameterType="Refined" resultMap="refinedResultMap">
		SELECT DISTINCT
		    A.RECRUITMENT_NO AS RECRUITMENT_NO,
		    REGEXP_SUBSTR(
		        SUBSTR(I.BUSINESS_ADDRESS, INSTR(I.BUSINESS_ADDRESS, '^^^') + 3, 
		        INSTR(I.BUSINESS_ADDRESS || '^^^', '^^^', INSTR(I.BUSINESS_ADDRESS, '^^^') + 3) - 
		        INSTR(I.BUSINESS_ADDRESS, '^^^') - 3),
		        '[^ ]+ [^ ]+', 1, 1
		    ) AS BUSINESS_ADDRESS,
		    I.BUSINESS_NAME AS BUSINESS_NAME,
		    A.RECRUITMENT_TITLE AS RECRUITMENT_TITLE,
		    A.RECRUITMENT_CONTENT AS RECRUITMENT_CONTENT,
		    A.RECRUITMENT_DEADLINE AS RECRUITMENT_DEADLINE,
		    A.JOBTYPE_NO AS JOBTYPE_NO,
		    A.NUM_OF_RECRUITMENT_NAME AS NUM_OF_RECRUITMENT_NAME,
		    A.SALARY_NO AS SALARY_NO,
		    J.SALARY_NAME AS SALARY_NAME,
		    K.TIME_NAME AS TIME_NAME,
		    A.GRADE_NO AS GRADE_NO,
		    A.PERIOD_NO AS PERIOD_NO,
		    A.DAYS_NO AS DAYS_NO,
		    A.TIME_NO AS TIME_NO,
		    A.EMPLOYER_NO AS EMPLOYER_NO,
		    A.SALARY_MOUNT AS SALARY_MOUNT,
		    A.WRITE_DATE AS WRITE_DATE,
		    A.UPDATE_DATE AS UPDATE_DATE,
		    A.RECRUITMENT_DEL_FL AS RECRUITMENT_DEL_FL,
		    A.MEMBER_NO AS MEMBER_NO,
		    A.RECRUIT_COMPLETE_FL AS RECRUIT_COMPLETE_FL,
		    A.RECRUITMENT_PROFILE AS RECRUITMENT_PROFILE,
		    A.WORKCOND_ADDRESS_TYPE_NO ASWORKCOND_ADDRESS_TYPE_NO
		FROM 
		    RECRUITMENT A
		JOIN 
			EMPLOYER I ON A.EMPLOYER_NO = I.EMPLOYER_NO
		JOIN	
			SALARY J ON A.SALARY_NO = J.SALARY_NO
		JOIN
			WORKCOND_TIME K ON A.TIME_NO = K.TIME_NO
		WHERE 	
			A.RECRUITMENT_DEL_FL = 'N'
		ORDER BY A.WRITE_DATE DESC
    </select>

	<select id="getRecruitmentListb" parameterType="Refined" resultMap="refinedResultMap">
		SELECT DISTINCT
		    A.RECRUITMENT_NO AS RECRUITMENT_NO,
		    REGEXP_SUBSTR(
		        SUBSTR(I.BUSINESS_ADDRESS, INSTR(I.BUSINESS_ADDRESS, '^^^') + 3, 
		        INSTR(I.BUSINESS_ADDRESS || '^^^', '^^^', INSTR(I.BUSINESS_ADDRESS, '^^^') + 3) - 
		        INSTR(I.BUSINESS_ADDRESS, '^^^') - 3),
		        '[^ ]+ [^ ]+', 1, 1
		    ) AS BUSINESS_ADDRESS,
		    I.BUSINESS_NAME AS BUSINESS_NAME,
		    A.RECRUITMENT_TITLE AS RECRUITMENT_TITLE,
		    A.RECRUITMENT_CONTENT AS RECRUITMENT_CONTENT,
		    A.RECRUITMENT_DEADLINE AS RECRUITMENT_DEADLINE,
		    A.JOBTYPE_NO AS JOBTYPE_NO,
		    A.NUM_OF_RECRUITMENT_NAME AS NUM_OF_RECRUITMENT_NAME,
		    A.SALARY_NO AS SALARY_NO,
		    J.SALARY_NAME AS SALARY_NAME,
		    K.TIME_NAME AS TIME_NAME,
		    A.GRADE_NO AS GRADE_NO,
		    A.PERIOD_NO AS PERIOD_NO,
		    A.DAYS_NO AS DAYS_NO,
		    A.TIME_NO AS TIME_NO,
		    A.EMPLOYER_NO AS EMPLOYER_NO,
		    A.SALARY_MOUNT AS SALARY_MOUNT,
		    A.WRITE_DATE AS WRITE_DATE,
		    A.UPDATE_DATE AS UPDATE_DATE,
		    A.RECRUITMENT_DEL_FL AS RECRUITMENT_DEL_FL,
		    A.MEMBER_NO AS MEMBER_NO,
		    A.RECRUIT_COMPLETE_FL AS RECRUIT_COMPLETE_FL,
		    A.RECRUITMENT_PROFILE AS RECRUITMENT_PROFILE,
		    A.WORKCOND_ADDRESS_TYPE_NO ASWORKCOND_ADDRESS_TYPE_NO
		FROM 
		    RECRUITMENT A
		JOIN 
			EMPLOYER I ON A.EMPLOYER_NO = I.EMPLOYER_NO
		JOIN	
			SALARY J ON A.SALARY_NO = J.SALARY_NO
		JOIN
			WORKCOND_TIME K ON A.TIME_NO = K.TIME_NO
		WHERE 	
			A.RECRUITMENT_DEL_FL = 'N'
			
		<!-- category11, category1 둘 중 하나라도 값이 있으면 -->
		<if test="(category11 != null and category11.size > 0) 
		       or (category1 != null and category1.size > 0)">
		    AND A.WORKCOND_ADDRESS_TYPE_NO IN (
		        SELECT B.WORKCOND_ADDRESS_TYPE_NO
		        FROM WORKCOND_ADDRESS_TYPE B
		        WHERE 
		            -- 1) 아래 조건들이 모두 OR로 묶여야 함
		            1=0
		            <!-- 카테고리11(전체) 있을 때 LIKE 조건 -->
		            <if test="category11 != null and category11.size > 0">
		              OR (
		                  <foreach item="item" collection="category11" separator=" OR ">
		                      B.WORKCOND_ADDRESS_TYPE_NO LIKE #{item}
		                  </foreach>
		              )
		            </if>
		
		            <!-- 카테고리1(개별) 있을 때 = 조건 -->
		            <if test="category1 != null and category1.size > 0">
		              OR (
		                  <foreach item="item" collection="category1" separator=" OR ">
		                      B.WORKCOND_ADDRESS_TYPE_INFO = #{item}
		                  </foreach>
		              )
		            </if>
		    )
		</if>

		
		<if test="(category22 != null and category22.size > 0) 
		       or (category2 != null and category2.size > 0)">
		    AND A.EMPLOYER_NO IN (
		        SELECT DISTINCT C.EMPLOYER_NO
		        FROM EMPLOYER_WORKTYPE D
		        JOIN BUSINESS_WORKTYPE C
		        ON C.WORKTYPE_NO = D.WORKTYPE_NO
		        WHERE 
		            -- 1) 아래 조건들이 모두 OR로 묶여야 함
		            1=0
		            <!-- 카테고리(전체) 있을 때 LIKE 조건 -->
		            <if test="category22 != null and category22.size > 0">
		              OR (
		                  <foreach item="item" collection="category22" separator=" OR ">
		                      D.WORKTYPE_NO LIKE #{item}
		                  </foreach>
		              )
		            </if>
		
		            <!-- 카테고리(개별) 있을 때 = 조건 -->
		            <if test="category2 != null and category2.size > 0">
		              OR (
				        <foreach item="item" collection="category2" separator=" OR ">
				            D.WORKTYPE_CATEGORY = #{item}
				        </foreach>
		              )
		            </if>
		    )
		</if>

		<if test="category31 != null and category31.size > 0">
		    AND A.PERIOD_NO IN (
		        SELECT B.PERIOD_NO
		        FROM WORKCOND_PERIOD B
		        WHERE 
		        <foreach item="item" collection="category31" separator=" OR ">
		            B.PERIOD_NAME LIKE #{item}
		        </foreach>
		    )
		</if>	
		
		
		ORDER BY A.WRITE_DATE DESC
    </select>

	<select id="refinedAddress1" parameterType="Refined" resultMap="refinedResultMap">
		SELECT WORKCOND_ADDRESS_TYPE_NO,WORKCOND_ADDRESS_TYPE_INFO
		FROM WORKCOND_ADDRESS_TYPE
		WHERE WORKCOND_ADDRESS_TYPE_NO LIKE '%00'
		ORDER BY 1
	</select>
	
	<select id="refinedAddress2" parameterType="Refined" resultMap="refinedResultMap">
		SELECT WORKCOND_ADDRESS_TYPE_NO,WORKCOND_ADDRESS_TYPE_INFO
		FROM WORKCOND_ADDRESS_TYPE
		WHERE WORKCOND_ADDRESS_TYPE_NO NOT LIKE '%00'
		ORDER BY 1
	</select>
	
	<select id="refineJob1" parameterType="Refined" resultMap="refinedResultMap">
		SELECT WORKTYPE_NO,WORKTYPE_CATEGORY
		FROM EMPLOYER_WORKTYPE
		WHERE WORKTYPE_NO LIKE '%00'
		ORDER BY 1
	</select>
	
	<select id="refineJob2" parameterType="Refined" resultMap="refinedResultMap">
		SELECT WORKTYPE_NO,WORKTYPE_CATEGORY
		FROM EMPLOYER_WORKTYPE
		WHERE WORKTYPE_NO NOT LIKE '%00'
		ORDER BY 1
	</select>
	
	<select id="refinePeriod2" parameterType="Refined" resultMap="refinedResultMap">
		SELECT PERIOD_NO,PERIOD_NAME
		FROM WORKCOND_PERIOD
		ORDER BY 1
	</select>
	
	<select id="refineDays2" parameterType="Refined" resultMap="refinedResultMap">
		SELECT DAYS_NO,DAYS_NAME
		FROM WORKCOND_DAYS
		ORDER BY 1
	</select>
	
	
	
</mapper>
