<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/worker/workerLogin.css">
  <th:block th:replace="~{common/common}"></th:block>  
</head>

<body>

  <th:block th:replace="~{common/main-header}"></th:block>
  <form action="/worker/workerLogin" method="post" name="loginForm">
    <main>
      <div class="header">
        <span class="logo">
          <a href="/"><img src="/images/logo.png" alt="로고" class="logo-img" href="/"></a>
        </span>
        <div class="title">취업빌드는 잡빌드!</div>
      </div>

      <div class="login-container">
        <div class="tab-container">
          <button type="button" class="tab active">개인회원</button>
          <button type="button" class="tab">기업회원</button>
        </div>

        <div class="input-container">
          <input type="text" placeholder="ID를 입력해 주세요" name="workerId">
          <input type="password" placeholder="PW를 입력해 주세요" name="workerPw">
        </div>

        <div class="login-options">
          <div class="checkbox-container">
            <input type="checkbox" name="saveId">
            <label for="save-id">아이디저장</label>
          </div>
        </div>

        <button type="submit" class="login-button">로그인</button>

        <div class="help-links">
          <a href="/worker/workerFindEmail"> 계정 찾기</a>
          <a href="/multiSignUp">회원가입</a>
          <a href="/worker/workerFindPw">비밀번호 찾기</a>
        </div>      
      </div>
    </main>
  </form>

  <th:block th:replace="~{common/main-footer}"></th:block>
  <script src="/js/worker/workerLogin.js"></script>
</body>

</html>