<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link rel="stylesheet" href="/css/worker/workerSignup.css">
  <th:block th:replace="~{common/common}"></th:block>
</head>

<body>
  <th:block th:replace="~{common/main-header}"></th:block>

  
  <div class="signup-container">
    <div class="signup-title" style="  text-align: start;margin-bottom: 30px;font-size: 80px;">
      <h1>개인 회원가입</h1>
    </div>
    <form action="/worker/workerSignUp" method="post">
      <div class="checkbox-container">       
          <input type="checkbox" id="checkAll"> 
          <label for="checkAll">전체 동의하기 </label>
        <div>
          <input type="checkbox" id="essentialAge" class="chk" required>
          <label for="essentialAge">(필수) 만 20세 이상입니다.</label>
        </div>
        <div>
          <input type="checkbox" id="essentialService" class="chk" required>
          <label for="essentialService">(필수) 서비스 이용약관 동의</label>
        </div>
        <div>
          <input type="checkbox" id="essentialPersonalInfo" class="chk" required>
          <label for="essentialPersonalInfo">(필수) 개인정보 수집 및 이용 동의</label>
        </div>
      </div>

      <div class="form-group">
        <div>이메일</div>
        <div style="display: flex; ">
          <input type="email" id="memberEmail" name="memberEmail" required>
          <button type="button" class="verification-btn" id="sendAuthKeyBtn">인증번호 받기</button>
        </div>
        <span class="signUp-message" id="workerEmailMessage" style="font-size: 12px;">
          메일을 받을 수 있는 이메일을 입력해주세요.
        </span>
      </div>


      <div class="form-group">
        <div>인증번호</div>
        <div style="display: flex; gap: 10px;">
          <input type="text" id="authKey" name="authKey" required>
          <button type="button" class="verification-btn" id="checkAuthKeyBtn">인증번호 확인</button>
        </div>
        <span id="authKeyMessage"></span>
      </div>

      <div class="form-group">
        <div> 아이디 </div>
        <div style="display: flex; gap: 10px;">
          <input type="text" id="workerId" name="workerId" required>
          <button type="button" class="verification-btn" id="checkWorkerIdBtn">아이디 중복확인</button>
        </div>
        <span id="workerIdMessage"> 특수문자를 제외하고 3 - 20자로 작성해주세요</span>
      </div>

      <div class="form-group">
        <div>비밀번호</div>
        <input type="password" id="memberPw" name="memberPw" required>
      </div>

      <div class="form-group">
        <div>비밀번호 확인</div>
        <input type="password" id="memberPwConfirm" required>
        <span id="pwMessage"> 비밀번호가 일치하는지 확인해주세요.</span>
      </div>

      <div class="form-group">
        <div>생년월일</div>
        <input type="text" id="workerBirthDate" name="workerBirthDate" maxlength="8" required placeholder="ex ) 19981104">
        <span id="workerBirthDateMsg"> 생년월일을 확인해주세요</span>
      </div>
      <div style="display: flex;">
        <div class="form-group" style="width: 50%;">
          <label>MBTI</label>
          <input type="text" id="workerMbti" name="workerMbti" placeholder="대문자로 입력하여야 합니다." oninput="handleOnInput(this)" required>
          <span id="workerMbtiMessage"> MBTI를 입력해주세요 </span>
        </div>
        <div class="form-group" style="width: 50%; align-items: center; margin: auto; margin-left: 30px;">
          <span> 가입경로 : </span>
          <select name="signUpPath" id="searchKey" style="width: 40%; height: 30px">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <div>닉네임</div>
        <input type="text" id="workerNickname" name="workerNickname" placeholder="한글, 영어, 숫자로 10글자까지 가능합니다." required>
        <span id="nickMessage"> 유효하지 않은 닉네임 형식입니다. </span>
      </div>

      <div class="form-group">
        <div>이름</div>
        <input type="text" id="memberName" name="memberName" required>
      </div>

      <div class="form-group">
        <div>전화번호</div>
        <input type="tel" id="memberTel" name="memberTel" placeholder="-를 제외하고 11자로 입력해 주세요" maxlength="11" required >
        <span id="telMessage"> 전화번호를 입력해 주세요</span>
      </div>

      <div class="form-group">
        <div for="workerAddress">주소</div>
        <div class="signUp-input-area">
          <div style="display: flex; gap: 10px;">
            <input type="text" name="workerAddress" placeholder="우편번호" maxlength="6" id="postcode">
            <button type="button" id="searchAddressBtn">주소 상세 검색</button>
          </div>
        </div>

        <div class="signUp-input-area">
          <input type="text" name="workerAddress" placeholder="도로명/지번 주소" id="address">
        </div>

        <div class="signUp-input-area">
          <input type="text" name="workerAddress" placeholder="상세 주소" id="detailAddress">
        </div>
      </div>

      <div class="button-group">
        <button type="button" class="btn-cancel">가입 취소</button>
        <button type="submit" class="signupBtn">가입 하기</button>
      </div>
    </form>
  </div>

  <th:block th:replace="~{common/main-footer}"></th:block>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/worker/workerSignup.js"></script>
</body>

</html>