body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.header {
  background-color: #f0f0f000;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;  
  margin-top: 30px ;
  align-items: center;
  display: flex;  
  border: 3px solid #F0BB78  ;
}

.logo-img {
  width: 15px;
  height: 15px;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

.card {
  flex: 1;
  background-color: white;
  border: 2px solid #ffd699;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.button {
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 15px 0;
  cursor: pointer;
}

.chat-button {
  background-color: #ffd699;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.footer-text {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

.footer-text a {
  font-size: 20px;
  color: red;
  text-decoration: none;
}