<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>잘못된 접근</title>
    <script>

let navigateCount = sessionStorage.getItem("navigateCount") || 0; // 이동 횟수를 세션 스토리지에서 확인

if (navigateCount == 0) {
    alert("잘못된 접근 방식입니다."); // 경고창 표시
    sessionStorage.setItem("navigateCount", ++navigateCount); // 이동 횟수 증가
    history.back(); // 이전 페이지로 이동
} else if (navigateCount == 1) {
    sessionStorage.removeItem("navigateCount"); // 초기화
    window.location.href = "/"; // 메인 페이지 URL로 이동
}


    </script>
</head>
<body>
</body>
</html>
