<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Builder</title>
    <link rel="stylesheet" href="/css/chatting/counsel/counselorLogin.css">
</head>
<body>
    <form action="/counsel/login" method="post" id="loginForm">
        <main>
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="로고" class="logo-img"></a>
            </div>

            <div class="login-container">
                <h2>상담가 로그인</h2>

                <div class="input-container">
                    <div class="input-wrapper">
                        <input type="email" placeholder="email" name="memberEmail" required>
                      </div>
                      <div class="input-wrapper">
                        <input type="password" placeholder="password" name="memberPw" required>
                    </div>
                </div>

                <div class="login-options">
                    <div>계정찾기</div>
                </div>

                <button type="submit" class="login-button">로그인</button>
            </div>
        </main>
    </form>

    <script th:inline="javascript">
      const message =  /*[[${message}]]*/ "전달 받은 message";
    
      if(message != null) alert(message);
    </script>
</body>
</html>