<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- 서버 연결 시 주소 변경 할 것!!!!! -->
  <link rel="stylesheet" href="/notFun/src/main/resources/static/css/myPageWorker/changePw.css">
</head>
<body>
  <h2>비밀번호 변경</h2>

<form>
    <div class="form-group">
        <label>현재 비밀번호</label>
        <input type="password" class="form-control">
    </div>

    <div class="form-group">
        <label>신규 비밀번호</label>
        <input type="password" class="form-control" placeholder="8~16 영문/숫자/특수문자">
    </div>

    <div class="form-group">
        <label>신규 비밀번호 확인</label>
        <input type="password" class="form-control">
    </div>

    <div class="button-group">
        <button type="submit" class="btn btn-primary">변경</button>
        <button type="button" class="btn btn-secondary">취소</button>
    </div>
</form>



</body>
</html>