<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MyPage</title>

	<!-- header footer css 입니다 잊지 말고 header footer 사용시 연결해주세요 + 폰트 어썸 사용 -->
	<th:block th:replace="~{common/common}"></th:block>

	<link rel="stylesheet" href="/css/myPageWorker/myPageWorkerInfo.css">
</head>

<body>
	<!-- 로고 및 검색바 로그인 -->
	<th:block th:replace="~{common/myPageWorker-header}"></th:block>

	<div>
		<a href="/resume/writeResume" class="btn btn-primary">이력서 작성</a>
		
		<div class="member-info-container">
			<div class="header">
				<h2 class="title">회원정보</h2>
				<button class="updateBtn">수정</button>
			</div>

			<div class="info-container-background">
				<div class="info-container">
					<div class="form-field">
						<label class="workerNickname">닉네임</label>
						<label class="workerNickname" th:text="${session.loginWorker.workerNickname}"></label>
					</div>

					<div class="form-field">
						<label class="memberTel">연락처</label>
						<label class="memberTel" th:text="${session.loginWorker.memberTel}"></label>
					</div>

					<div class="form-field">
						<span class="memberEmail">이메일</span>
						<span class="memberEmail" th:text="${session.loginWorker.memberEmail}"></span>
					</div>

					<div class="form-field">
						<span class="workerAddress1">주소</span>
						<span class="workerAddress2" th:text="${session.loginWorker.workerAddress}"></span>
					</div>

					<div class="form-field">
						<span class="workerMbti1">MBTI</span>
						<span class="workerMbti2" th:text="${session.loginWorker.workerMbti}"></span>
					</div>

				</div>
			</div>
		</div>

		<!-- 모달 구조    -->
		 <!--  서버 켜지면 확인 해봐야 함 -->
		<div id="passwordModal" class="modal">
			<div class="modal-content">
				<span class="close">X</span>
				<h2>비밀번호 입력</h2>
				
					<input type="password" class="currentPassword" placeholder="현재 비밀번호" required />
					<button type="submit" class="checkPwbtn">확인</button>
				
			</div>
		</div>

	</div>

	<!-- footer 우선 갖다가 쓰는겁니다 잊지말고 바꿔야해요 -->
	<th:block th:replace="~{common/main-footer}"></th:block>

	<script src="/js/myPageWorker/info.js"></script>
</body>

</html>