<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPageWorkerInfo</title>

    <script src="https://kit.fontawesome.com/4d970bf746.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/myPageWorkerInfo.css">
</head>
<body>
	<div>

	    <div class="member-info-container">
	      <div class="section-header">
	        <h2 class="section-title">닉네임 님의 회원정보</h2>
	        <button class="action-button">수정</button>
	      </div>

	      <div class="info-container">
	        <div class="form-field">
	          <span class="field-label">연락처</span>
	          <span class="field-value">010-0000-0000</span>
	        </div>
	        <div class="form-field">
	          <span class="field-label">이메일</span>
	          <span class="field-value">test@test.com</span>
	        </div>
	        <div class="form-field">
	          <span class="field-label">주소</span>
	          <span class="field-value">지번주소/도로명주소만</span>
	        </div>
	      </div>

	      <div class="divider"></div>

	      <div class="section-header">
	        <h2 class="section-title">비밀번호 변경</h2>
	        <button class="action-button">변경</button>
	      </div>

	      <div class="section-header">
	        <h2 class="section-title">회원탈퇴</h2>
	        <button class="action-button">탈퇴</button>
	      </div>
	    </div>

	  </div>
</body>
</html>
